<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title th:text="${title}"></title>
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/profile-old.css}" rel="stylesheet">
<link th:href="@{/css/profile.css}" rel="stylesheet">
<link th:href="@{/css/loading.css}" rel="stylesheet">
<link th:href="@{/css/table.css}" rel="stylesheet">
<link th:href="@{/css/normalize.css}" rel="stylesheet">
<link th:href="@{/css/responsive.css}" rel="stylesheet">
<link th:href="@{/fonts/css/font-awesome.min.css}" rel="stylesheet">
<script th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/profile.js}"></script>



<!-- sweetAlert -->
<script th:src="@{/sweetalert/js/sweetalert.min.js}"></script>
<link th:href="@{/sweetalert/css/sweetalert.css	}" rel="stylesheet">
<!-- jquery UI -->

<script th:src="@{/jqueryUI/jquery-ui.min.js}"></script>
<link th:href="@{/jqueryUI/jquery-ui.min.css}" rel="stylesheet">

</head>
<body>
	<!--	menu fixed top-->
	<th:block th:replace="header::menu_fix_top"></th:block>

	<div class="container">
		<!--	slider menu-->
			<div th:replace="homepage::sidenav">
			
			
			
			</div>
			
			
			
		<!--       nội dung trang web-->
		
		
		

		
		
		<div id="main">
			<div class="container-fluid">
				<div class="row">
				
				
				
				
				<div th:replace="homepage::thong_tin_ca_nhan"></div>
				
					<div th:replace="homepage::div_hien_thi_nhap_ma_phong"></div>
				
				<div th:replace="homepage::ma_phong"></div>
				
				
				
					
<!-- Thông tin người dùng -->
					<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
						<div class="divcontent">
							<h4>Cập nhật thông tin</h4>
							<hr />
							<form role="form" id="account_info">
								<div class="form-group">
									<label for="name">Họ và tên</label> <input type="text"
										 class="form-control" id="name" th:value="${acc_setting.name}" />
								</div>

								<div class="form-group">
									<label for="birth">Ngày sinh</label> <input type="date" data-date-format='dd/mm/yy'
										class="form-control" id="birth" th:value="${acc_setting.birth}"  />
								</div>

								<div class="form-group">
									<label for="job">Công việc</label> <input type="text"
									class="form-control" id="job" th:value="${acc_setting.job}" />
								</div>

								<div class="form-group">
									<label for="gender1">Giới tính</label> <br /> <label
										class="radio-inline"> <input type="radio" name="radio"
										id="gender1" value="1" th:attr="checked=${acc_setting.gender==true}?'checked':null" /> Nam
									</label> <label class="radio-inline"> <input type="radio"
										name="radio" id="gender2" value="0" th:attr="checked=${acc_setting.gender==false}?'checked':null" /> Nữ
									</label>
								</div>

								<div class="form-group">
									<label for="email">Email</label> <input type="email"
										class="form-control" id="email" th:value="${acc_setting.email}" readonly="readonly" />
								</div>

								<div class="form-group">
									<label for="address">Địa chỉ</label>
									<textarea rows="3"  title="abc" class="form-control" id="address" th:text="${acc_setting.address}"></textarea>
								</div>
								<hr />
								<p class="text-right">
									<button type="submit" class="btn btn-default">
										<i class="fa fa-close"></i>&nbsp;Hủy
									</button>
									<button type="submit" class="btn btn-info">
										<i class="fa fa-refresh"></i>&nbsp;Cập nhật
									</button>
								</p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	// kiểm tra độ dài cho phần nhập liệu
		$(document).ready(function(){
			document.getElementById("name").pattern = ".{5,50}";
			document.getElementById("name").title = "là chữ cái và không quá 100 kí tự";
			document.getElementById("job").pattern = ".{5,50}";
			document.getElementById("job").title = "là chữ cái và không quá 50 kí tự";
			document.getElementById("address").pattern = ".{0,300}";
			document.getElementById("address").title = "là chữ cái và không quá 50 kí tự";
			
		});
	
	
	</script>
	<script type="text/javascript">
	
	$(document).ready(function(){
		$("#avatar").change(function(){
			var file_data = $('#avatar').prop('files')[0];   
		    var form_data = new FormData();                  
		    form_data.append('file', file_data);

		    
		    $.ajax({
		                url: '/upload/avatar',
		                dataType: 'text',
		                cache: false,
		                contentType: false,
		                processData: false,
		                data: form_data,                         
		                type: 'post',
		                success: function(result){
		                	if(result.startsWith('https')){
		        				swal("Cập nhật thành công")
		                    $("#account_avatar").attr('src',result); 
		        			}else{
		        				swal('Cập nhật thất bại \n'+result)
		        			}
		                }
		     });
		})
	});
	
	
	
	
	</script>
<script type="text/javascript">
$("#account_info").bind('submit', function (e) {
    name=$("#name").val();
    birth=$("#birth").val();
   	gender= $("input:radio[name ='radio']:checked").val();
    job=$("#job").val();
    address=$("#address").val();
    form_data ={name:name,birth:birth,gender:gender,job:job,address:address}
	$.ajax({
		url : '/account/update/info',
		dataType : 'text',
		data : form_data,
		success : function(result) {
			  swal(result)
		}

	});
    return false;
});


</script>
	<!--java script-->
	
	
	
<script th:src="@{/js/clipboard.min.js}"></script>
<script th:src="@{/js/classroom2.js}"></script>

	
	<script>
		document.getElementById("close-slide").style.display = "none";
		function openNav() {
			document.getElementById("mySidenav").style.width = "250px";
			document.getElementById("open-slide").style.display = "none";
			document.getElementById("close-slide").style.display = "block";
		}

		function closeNav() {
			document.getElementById("mySidenav").style.width = "0";
			document.getElementById("open-slide").style.display = "block";
			document.getElementById("close-slide").style.display = "none";
		}
	</script>
</body>
</html>
