<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Chat</title>
</head>
<body>

	<th:block th:fragment="chat-template">
<div class="container">
			<div
				class="box box-success direct-chat direct-chat-success collapsed-box direct-chat-contacts-open"
				style="position: fixed; right: 0px; bottom: 0px; width: 300px; z-index: 9999;">
				<div class="box-header with-border">
					<h3 class="box-title" id="chatvoi">Hộp thoại</h3>
					<div class="box-tools pull-right">
						<span data-toggle="tooltip" id="end2" title=""
							class="badge bg-green countmsg"
							data-original-title=" Tin nhắn mới"></span>
						<button type="button" id="end1" class="btn btn-box-tool"
							data-widget="collapse">
							<i class="fa fa-plus"></i>
						</button>
						<button type="button" class="btn btn-box-tool"
							data-toggle="tooltip" title="" data-widget="chat-pane-toggle"
							data-original-title="Contacts">
							<i class="fa fa-comments"></i>
						</button>
						<button type="button" class="btn btn-box-tool"
							data-widget="remove">
							<i class="fa fa-times"></i>
						</button>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body " style="display: none;">
					<!-- Conversations are loaded here -->
					<div style="background: white;"
						class="direct-chat-messages msg_container_base">
						<!-- Message. Default to the left -->

						<!-- /.direct-chat-msg -->
					</div>
					<!--/.direct-chat-messages-->

					<!-- Contacts are loaded here -->
					<div class="direct-chat-contacts" style="background: red;">
						<ul class="contacts-list " id="contacts-list">
							<!-- End Contact Item -->
						</ul>
						<!-- /.contatcts-list -->
					</div>
					<!-- /.direct-chat-pane -->
				</div>
				<!-- /.box-body -->
				<div class="box-footer" style="display: none;">

					<div class="input-group msg">
						<input id="btn-input" type="text" name="message"
							placeholder="Type Message ..." class="form-control" /> <span
							class="input-group-btn">
							<button id="btn-chat" class="btn btn-success btn-sm btn-flat">Send</button>
						</span>
					</div>

				</div>
				<!-- /.box-footer-->
			</div>










		</div>


	</th:block>

</body>
</html>