<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title th:text="${title}"></title>
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/profile-old.css}" rel="stylesheet">
<link th:href="@{/css/profile.css}" rel="stylesheet">
<link th:href="@{/css/loading.css}" rel="stylesheet">
<link th:href="@{/css/table.css}" rel="stylesheet">
<link th:href="@{/css/chat.css}" rel="stylesheet">
<link th:href="@{/css/responsive.css}" rel="stylesheet">
<link th:href="@{/fonts/css/font-awesome.min.css}" rel="stylesheet">
<script th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/profile.js}"></script>
<script th:src="@{/js/clipboard.min.js}"></script>
<script th:src="@{/js/classroom.js}"></script>



<!-- sweetAlert -->
<script th:src="@{/sweetalert/js/sweetalert.min.js}"></script>
<link th:href="@{/sweetalert/css/sweetalert.css	}" rel="stylesheet">
<!-- jquery UI -->

<script th:src="@{/jqueryUI/jquery-ui.min.js}"></script>
<link th:href="@{/jqueryUI/jquery-ui.min.css}" rel="stylesheet">


</head>

<body>

	<!-- Đánh dấu mã phòng -->
	<input type="hidden" th:value="${Room.idRoom}" id="id-room" />
	<!-- /Đánh dấu mã phòng -->
	<!--	menu fixed top-->
	<th:block th:replace="header::menu_fix_top"></th:block>

	<div class="container">
		<!--	slider menu-->
		<div th:replace="homepage::sidenav"></div>

		<!--       nội dung trang web-->
		<div id="main">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4">
						<!--					thông tin cá nhân-->
						<div class="divcontent row">
							<div class="col-md-5 col-sm-6 col-xs-12">
								<img class="img-circle img-responsive"
									th:src="@{${session.account.avatar}}" alt="Ảnh đại diện" />
							</div>

							<div class="col-md-7 col-sm-6 col-xs-12">
								<h4 th:text="${session.account.name}"></h4>
								<h5 th:text="${session.account.address}"></h5>
							</div>
						</div>

						<!--						danh sách thành viên-->
						<div class="divcontent">
							<th:block th:fragment="listMember">
								<h4>Danh sách thành viên</h4>
								<select multiple class="form-control">
									<th:block th:each="mem : ${listMember}">
										<option th:text="${mem.value}+' - '+${mem.key}"></option>

									</th:block>
								</select>
							</th:block>
							<div class="row">
								<!-- Quản lý thành viên -->
								<div class="col-md-6 text-left"
									th:if="${session.account.idAcc== Room.idAcc.idAcc}">
									<hr />
									<form th:action="@{/adminroom}" method="get">
										<input type="hidden" name="idRoom" th:value="${Room.idRoom}" />
										<button type="submit" class="btn btn-success">
											<i class="fa fa-users"></i> Quản lý thành viên
										</button>
									</form>
								</div>
								<!--/ out group -->
								<div th:if="${session.account.idAcc== Room.idAcc.idAcc}">
									<div class="col-md-6 text-right">
										<hr />
										<input type="hidden" name="idRoom" th:value="${Room.idRoom}" />
										<button class="btn btn-warning" th:id="${Room.idRoom}"
											onclick="deleteRoom()">
											<i class="fa fa-window-close"></i> Xóa phòng
										</button>
									</div>
								</div>


								<div th:if="!${session.account.idAcc== Room.idAcc.idAcc}">
									<div class="col-md-6 text-right">
										<hr />
										<input type="hidden" name="idRoom" id="leaveRoomID"
											th:value="${Room.idRoom}" />
										<button th:id="${session.account.idAcc}"
											class="btn btn-warning" onclick="leaveRoom(this.id)">
											<i class="fa fa-sign-out"></i>Rời khỏi nhóm
										</button>
									</div>
								</div>

								<!-- ./out group -->

							</div>
							<!-- /Quản lý thành viên -->
							<!-- out nhóm -->

							<!-- /out nhóm -->
						</div>

						<!--						danh sách phòng quản lý-->
						<div class="divcontent">
							<h4>Thông tin phòng</h4>
							<p>
								Tên phòng: <strong th:text="${Room.roomName}"></strong> <br />
								Mã phòng: <strong th:text="${Room.idRoom}"></strong> <br /> Số
								thành viên: <span th:text="${numberOfAccount}"></span>
							</p>
						</div>

						<th:block th:replace="homepage::footer">
						</th:block>
					</div>

					<div class="col-md-8">

						<!-- Bài đăng cũ -->
						<!-- 
						<div class="divcontent">
							<div class="create-status row">
								<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 media">
									<img class="media-photo img-responsive avt"
										src="../images/15284079_583315985195410_4289784661158093094_n.jpg"
										alt="Ảnh đại diện" />
								</div>
								<div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 cnt">
									<form id="post">
										<input type="hidden" id="id-room" th:value="${Room.idRoom}" />
										<textarea class="form-control" rows="3" id="content_post"
											placeholder="Viết gì đó"></textarea>
										<br />
										<div style="text-align: right">
											<button type="reset" class="btn btn-default">Hủy</button>
											<button type="submit" class="btn btn-primary">Đăng</button>
										</div>
									</form>
								</div>

							</div>
						</div>
						 -->
						<!-- /bài đăng cũ -->


						<!-- Bài đăng mới -->
						<div class="divcontent panel">
							<div class="panel panel-default">

								<!-- loại bài đăng -->
								<div class="panel-heading">
									<div class="panel-title" id="nav">
										<a onclick="getHtmlFormPost(1)"><i class="fa fa-pencil"></i>
											Tạo bài viết</a> | <a onclick="getHtmlFormPost(2)"><i
											class="fa fa-check-square-o"></i> Trắc nghiệm</a> | <a
											onclick="getHtmlFormPost(3)"><i
											class="fa fa-cloud-upload"></i> Upload file</a> | <a
											onclick="getHtmlFormPost(4)"><i class="fa fa-picture-o"></i>
											Upload picture</a>
									</div>
								</div>
								<!-- /loại bài đăng -->

								<div id="div-content-post">
									<!--thay  các loại bài đăng -->
									<th:block th:replace="/post/statusPost::main_post"></th:block>
									<!--tao bai viet-->
									<!-- 
									<form id="post" onsubmit="return addStatusPost(this)">
										<input type="hidden" id="type" value="1" />
										<div class=" post-content">
											<div class="panel-body">
												<div class="row">
													<div class="col-md-2">
														<img alt="Ảnh đại diện" class="img-responsive"
															th:src="@{../images/15284079_583315985195410_4289784661158093094_n.jpg}"
															width="150%">
													</div>
													<div class="col-md-10">
														<textarea class="form-control post" id="content_post"
															placeholder="Viết gì đó..." rows="4"></textarea>
													</div>
												</div>
												<hr>
												<div class="row">
													<div class="col-md-6">
														<label class="col-sm-4 control-label" for="dealine"
															style="margin-top: 5px;">Thời hạn</label>
														<div class="col-sm-8">
															<input class="form-control" id="dealine" type="date">
														</div>
													</div>
													<div class="col-md-6 text-right">
														<button class="btn btn-default" type="reset">Hủy</button>
														<button class="btn btn-primary" type="submit">Đăng</button>
													</div>
												</div>
											</div>
										</div>
									</form>
									 -->
									<!--/tao bai viet-->
									<!--/thay  các loại bài đăng -->
								</div>


							</div>
						</div>

						<!-- /Bài đăng mới -->

						<div id="list-post">

							<!-- start post -->
							<th:block th:each="post : ${listPost}">
								<div class="divcontent"
									th:id="divcontent+${post.content.idPost}">
									<div class="status row">
										<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 media">
											<img class="media-photo img-responsive avt"
												th:src="@{${post.content.idAcc.avatar}}" alt="Ảnh đại diện" />
										</div>
										<div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 cnt">
											<div class="people-stt">
												<!--start  x post -->
												<form onsubmit="return deletePost(this)">
													<input type="hidden" id="idpost-close"
														th:value="${post.content.idPost}" />
													<button class="close" type="submit">
														<span aria-hidden="true">&times;</span>
													</button>
												</form>
												<!-- end x post  -->
												<a href="javascript:void(0)"
													th:id="'idAcc_'+${post.content.idAcc.idAcc}"
													class="memberprofile"><strong
													th:text="${post.content.idAcc.name}"> </strong></a> <br /> <span
													class="time-post"  style="color: #B2B2B2; cursor: pointer;" 
													data-toggle="tooltip" data-placement="bottom" 
													title="Thời gian đăng"
													th:text=" ${#dates.format(post.content.postDate, 'dd-MM-yyyy hh:mm:ss')}"></span>
											</div>
										</div>
									</div>
									<div class="content-stt" th:text="${post.content.postContent}"></div>

									<th:block th:if="${post.content.idConnect > 0}">
										<br>
										<div>
											<div class="input-group" style="margin-bottom: 5px">
												<span class="input-group-addon"><input
													name="radio_da" id="radio_da" type="radio" checked
													value="1"></span> <input class="form-control" id="da1"
													readonly="readonly" th:value="${post.da1}" type="text"
													required>
											</div>
											<div class="input-group" style="margin-bottom: 5px">
												<span class="input-group-addon"><input
													name="radio_da" name="radio_da" type="radio" value="2"></span>
												<input class="form-control" id="da2" readonly="readonly"
													th:value="${post.da2}" type="text" required>
											</div>
											<div class="input-group" style="margin-bottom: 5px">
												<span class="input-group-addon"><input
													name="radio_da" name="radio_da" type="radio" value="3"></span>
												<input class="form-control" id="da3" readonly="readonly"
													th:value="${post.da3}" type="text" required>
											</div>
											<div class="input-group" style="margin-bottom: 5px">
												<span class="input-group-addon"><input
													name="radio_da" name="radio_da" type="radio" value="4"></span>
												<input class="form-control" id="da4" readonly="readonly"
													th:value="${post.da4}" type="text" required>
											</div>


										</div>
									</th:block>
									<hr />
									<div style="color: #B2B2B2; text-align: left">
										<a class="link-act" href="javascript:void(0);"
											th:id="like+${post.content.idPost}"
											onclick="likeThisPost(this)"><i class="fa fa-thumbs-o-up"></i><span
											id="lbl-like"
											th:type="${#lists.contains(post.content.accountList,session.account)?'1':'0'}"
											th:text="${#lists.contains(post.content.accountList,session.account)?'Bỏ thích':'Thích'}">

										</span></a>&nbsp;<a href="javascript:void(0)"
											th:onclick="'detailAccountLikePost('+${post.content.idPost}+')'"
											th:text="'('+${#lists.size(post.content.accountList)}+')'"></a>
										&nbsp;<a class="link-act" href="javascript:void(0);"><i
											class="fa fa-comment"></i><span> Bình luận (<span
												th:text="${#lists.size(post.content.commentList)}"></span>)
										</span></a>
									</div>

									<hr />
									<div class="comment">
										<div class="cmt-input row">
											<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 media">
												<img class="media-photo img-responsive avt"
													src="../images/15284079_583315985195410_4289784661158093094_n.jpg"
													alt="Ảnh đại diện" />
											</div>
											<div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 cnt">
												<input type="text" class="form-control"
													th:id="comment_post+${post.content.idPost}"
													placeholder="Nhập bình luận"
													onkeydown="if(event.keyCode==13) addComment(this.id)" />
											</div>
										</div>
										<!--   								bình luận thứ 1-->
										<br />
										<div th:id="list_comment+${post.content.idPost}">
											<th:block th:each="comment : ${post.content.commentList}">
												<div class="cmt row" th:id="comment+${comment.idComment}">
													<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 media">
														<img class="media-photo img-responsive avt"
															th:src="@{/images/15284079_583315985195410_4289784661158093094_n.jpg}"
															alt="Ảnh đại diện" />
													</div>
													<div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 cnt">
														<!-- start x close comment -->
														<form onsubmit="return deleteComment(this)">
															<input type="hidden" id="idcomment-close"
																th:value="${comment.idComment}" />
															<button class="close" type="submit">
																<span aria-hidden="true">&times;</span>
															</button>
														</form>
														<!-- end x close comment -->
														<a href="javascript:void(0)"
															th:id="'idAcc_'+${post.content.idAcc.idAcc}"
															class="memberprofile"><strong
															th:text="${comment.idAcc.name}"></strong></a> <span
															th:text="${comment.commentContent}"></span><br /> <span
															th:text="${#dates.format(comment.commentTime, 'dd-MM-yyyy hh:mm:ss')}"></span>
													</div>
												</div>
											</th:block>
										</div>
									</div>
								</div>
							</th:block>
							<!-- end post -->
						</div>
					</div>

				</div>
				<div class="clearfix visible-xs-block"></div>

			</div>
		</div>
	</div>



	<!-- modal -->
	<div class="modal fade" role="dialog" aria-labelledby="myModalLabel"
		id="modal-like" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" onclick="closeModalLike()" class="close"
						data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Danh sách người
						thích</h4>
				</div>
				<div class="modal-body"
					style="max-height: 500px; overflow-y: scroll;"
					id="list-account-like"></div>
			</div>
		</div>
	</div>
	<!-- /modal -->
	<!--java script-->

	<script>
		var clipboard = new Clipboard('.btn-copy');

		clipboard.on('success', function(e) {
			console.log(e);
		});

		clipboard.on('error', function(e) {
			console.log(e);
		});
	</script>
	<script>
		document.getElementById("close-slide").style.display = "none";
		function openNav() {
			document.getElementById("mySidenav").style.width = "250px";
			document.getElementById("open-slide").style.display = "none";
			document.getElementById("close-slide").style.display = "block";
		}

		function closeNav() {
			document.getElementById("mySidenav").style.width = "0";
			document.getElementById("open-slide").style.display = "block";
			document.getElementById("close-slide").style.display = "none";
		}
	</script>
</body>
</html>
