<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Danh sách bạn bè</title>
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/profile-old.css}" rel="stylesheet">
<link th:href="@{/css/profile.css}" rel="stylesheet">
<link th:href="@{/css/loading.css}" rel="stylesheet">
<link th:href="@{/css/responsive.css}" rel="stylesheet">
<link th:href="@{/css/chat.css}" rel="stylesheet">
<link th:href="@{/fonts/css/font-awesome.min.css}" rel="stylesheet">




<!-- sweetAlert -->
<script th:src="@{/sweetalert/js/sweetalert.min.js}"></script>
<link th:href="@{/sweetalert/css/sweetalert.css	}" rel="stylesheet">




<!--java script-->
<script th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/clipboard.min.js}"></script>
<script th:src="@{/js/profile.js}"></script>
<script th:src="@{/js/classroom2.js}"></script>
<script th:src="@{/js/app.min.js}"></script>



</head>

<body>
	<!--	menu fixed top-->
	<th:block th:replace="header::menu_fix_top"></th:block>

	<div class="container">
		<!--	slider menu-->
		<div th:replace="homepage::sidenav"></div>


		<!--       nội dung trang web-->
		<div id="main">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4" id="m-left">
						<!--					thông tin cá nhân-->
						<div class="divcontent row">
							<div class="col-md-5 col-sm-6 col-xs-12">
								<img class="img-circle img-responsive"
									th:src="${session.account.avatar}!=null?@{${session.account.avatar}}:@{/upload/avatar/default_avatar.jpg}"
									alt="Ảnh đại diện" />
							</div>

							<div class="col-md-7 col-sm-6 col-xs-12 text-right">
								<h4 th:text="${session.account.name}"></h4>
								<h5 style="text-transform: uppercase;"
									th:text="${session.account.job}"></h5>
							</div>
						</div>
						<div class="footer" th:frame="footer" th:fragment="footer">
							<footer>
								<p>Hệ thống quản lý học tập © 2017</p>
							</footer>
						</div>

					</div>

					<!--					mã phòng-->
					<div class="col-md-8" id="m-center">
						<div class="divcontent">
							<ul class="contacts-list">
								<th:block th:each="friendShip: ${listRelationship}"  th:unless="${friendShip.waiting}">
									<li>
										<form onsubmit="return deleteFriendShip(this)">
											<input type="hidden" name="idFriend"
												th:value="${friendShip.accountFriend.idAcc}" />
											<div class="col-md-1">
												<!-- avatar -->
												<img class="direct-chat-img"
													th:src="@{${friendShip.accountFriend.avatar}}" />
											</div>
											<div class="col-md-4" style="padding-top: 10px;">
												<!-- tên -->
												<a href="javascript:void(0)"
													th:id="'idAcc_'+${friendShip.accountFriend.idAcc}"
													class="memberprofile"><span class="contacts-list-name"
													th:text="${friendShip.accountFriend.name}"> </span></a>
											</div>
											<div class="col-md-2" style="padding-top: 10px;">
												<!-- xóa yêu cầu -->
												<button type="submit" class="btn btn-default btn-sm">
													<i class="fa fa-close"></i> Hủy kết bạn
												</button>
											</div>
											<div class="col-md-5"></div>
										</form>
									</li>
								</th:block>
								<!-- /huy ket ban -->
								
								<!-- ./huy ket ban -->
							</ul>
						</div>
					</div>
					<div class="clearfix visible-xs-block"></div>
				</div>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
									function deleteFriendShip(e) {
										var id_acc = $(e).find(
												"input[name='idFriend']").val();
										
										swal({
											  title: "Bạn chắc chắn muốn hủy kết bạn?",
											  text: "",
											  type: "warning",
											  showCancelButton: true,
											  confirmButtonColor: "#DD6B55",
											  confirmButtonText: "Đồng ý!",
											  cancelButtonText: "Bỏ qua",
											  closeOnConfirm: false,
											  closeOnCancel: false
											},
											function(isConfirm){
											  if (isConfirm) {
												  $.ajax({
														url : "/account/addFriend",
														type : "POST",
														data : {
															idFriend : id_acc
														},
														success : function(response) {
															if (response) {
																console.log(response);
																$(e).parent("li")
																		.remove();
																swal("Thành công!", "Hai bạn đã trở thành những người xa lạ :))", "success");
															}
														},
														error : function(err) {
															console.log(err);
															swal("Xóa thất bại!", "Có lẻ ông trời không cho hai bạn tách rời nhau!", "error");
														}
													});
											  } else {
											    swal("Đóng", "Chúc hai bạn mãi là bạn tốt!", "success");
											  }
											});
										
										return false;
									}
								</script>

	<script>
		document.getElementById("close-slide").style.display = "none";
		function openNav() {
			document.getElementById("mySidenav").style.width = "250px";
			document.getElementById("open-slide").style.display = "none";
			document.getElementById("close-slide").style.display = "block";
		}

		function closeNav() {
			document.getElementById("mySidenav").style.width = "0";
			document.getElementById("open-slide").style.display = "block";
			document.getElementById("close-slide").style.display = "none";
		}

		new Clipboard('.btn-copy');
	</script>
</body>
</html>
