<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Quiz</title>
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/profile-old.css}" rel="stylesheet">
<link th:href="@{/css/profile.css}" rel="stylesheet">
<link th:href="@{/css/loading.css}" rel="stylesheet">
<link th:href="@{/css/responsive.css}" rel="stylesheet">
<link th:href="@{/css/chat.css}" rel="stylesheet">
<link th:href="@{/fonts/css/font-awesome.min.css}" rel="stylesheet">




<!-- sweetAlert -->
<script th:src="@{/sweetalert/js/sweetalert.min.js}"></script>
<link th:href="@{/sweetalert/css/sweetalert.css	}" rel="stylesheet">




	<!--java script-->
	<script th:src="@{/js/jquery-3.1.1.min.js}"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/clipboard.min.js}"></script>
	<script th:src="@{/js/profile.js}"></script>

	
	<script th:src="@{/js/classroom.js}"></script>
	

	<script th:src="@{/js/classroom2.js}"></script>
	<script th:src="@{/js/app.min.js}"></script>



</head>

<body>
<th:block th:replace="header::menu_fix_top"></th:block>
	<div class="container">
		<!--	slider menu-->
		<div id="mySidenav" class="sidenav" th:fragment="sidenav">
			<a th:href="@{/home}">Trang chủ</a> <a href="#">Thông tin</a> <a
				href="#">Dịch vụ</a> <a href="#">Liên hệ</a>
			<!-- 			<div class="form-group"> -->
			<!-- 				<label for="room" class="col-sm-3 control-label">Mã phòng</label> -->
			<!-- 				<div class="col-sm-9"> -->
			<!-- 					<div class="loader"> -->
			<!-- 						<div class="bar"></div> -->
			<!-- 						<div class="bar"></div> -->
			<!-- 						<div class="bar"></div> -->
			<!-- 					</div> -->
			<!-- 				</div> -->
			<!-- 			</div> -->
		</div>

		<!--       nội dung trang web-->
		<div id="main">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4" th:fragment="thong_tin_ca_nhan">
						<!--					thông tin cá nhân-->
						<div class="divcontent row">
							<div class="col-md-5 col-sm-6 col-xs-12">
								<img class="img-circle img-responsive"
									th:src="${session.account.avatar}!=null?@{${session.account.avatar}}:@{/upload/avatar/default_avatar.jpg}" alt="Ảnh đại diện" />
							</div>

							<div class="col-md-7 col-sm-6 col-xs-12 text-right">
								<h4 th:text="${session.account.name}"></h4>
								<h5 style="text-transform: uppercase;" th:text="${session.account.job}"></h5>
							</div>
						</div>
						
						
						
						
						
						<!--						danh sách phòng tham gia-->
						<div class="divcontent" th:fragment="ds_phong_tham_gia">
							<h4>Phòng tham gia</h4>
							<select class="form-control"
								onchange="if(this.value!=null && this.value!= undefined && this.value!='') location= this.value;">
								<option value="">Chọn phòng</option>
								<th:block th:each="room : ${listRoomParticipation}">
									<option
										th:value="@{/classRoom/{idRoom}(idRoom=${room.idRoom})}"
										th:text="${room.roomName}+' - '+${room.idRoom}"></option>

								</th:block>

							</select>
							<hr />
							<button type="button" class="btn btn-success" data-toggle="modal"
								data-target="#tham-gia-phong">
								<i class="fa fa-plus"></i> Tham gia phòng
							</button>
						</div>
						
						
						
						
						
						<!--						hiển thị div nhập mã phòng-->
						<div class="modal fade" id="tham-gia-phong" tabindex="-1"
							role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true" th:fragment="div_hien_thi_ma_phong">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">
											<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
										</button>
										<h4 class="modal-title" id="myModalLabel1">Tham gia phòng</h4>
									</div>
									<form class="form-horizontal" role="form">
										<div class="modal-body">
											<div class="form-group">
												<label for="room" class="col-sm-3 control-label">Nhập
													mã phòng</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" id="id_room2"
														placeholder="Mã phòng">
												</div>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default"
												data-dismiss="modal">Hủy</button>
											<button type="submit" id="search_room"
												class="btn btn-primary" data-toggle="modal"
												data-target="#tim-phong" data-dismiss="modal">Tìm
												phòng</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						
						
						
						
						<!--						hiển thị div tìm phong-->
						<div class="modal fade" id="tim-phong" tabindex="-1" role="dialog"
							aria-labelledby="myModalLabel1" aria-hidden="true" th:fragment="hien_thi_tim_phong">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">
											<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
										</button>
										<h4 class="modal-title" id="myModalLabel1">Tham gia phòng</h4>
									</div>
									<form class="form-horizontal" role="form">
										<div class="modal-body">
											<div class="form-group">
												<label for="room" class="col-sm-3 control-label">Tên
													phòng</label>
												<div class="col-sm-9">
													<input type="text" class="form-control"
														id="room_name_participation" placeholder="Tên phòng"
														readonly>
												</div>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default"
												data-dismiss="modal">Hủy</button>
											<button type="button" class="btn btn-primary"
												id="participation">Tham gia</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						
						
						
						
						
						<!--						danh sách phòng quản lý-->
						<div class="divcontent" th:fragment="ds_phong_quan_ly">
							<h4>Phòng quản lý</h4>
							<select class="form-control"
								onchange="if(this.value!=null && this.value!= undefined && this.value!='') location= this.value;">
								<option value="">Chọn phòng</option>
								<th:block th:each="room : ${listRoomManager}">
									<option th:text="${room.roomName}+' - '+${room.idRoom}"
										th:value="@{/classRoom/{idRoom}(idRoom=${room.idRoom})}"></option>
								</th:block>
							</select>
							<hr />
							<button type="button" class="btn btn-success" data-toggle="modal"
								data-target="#tao-phong">
								<i class="fa fa-plus"></i> Tạo phòng mới<i></i>
							</button>
						</div>
						
						
						
						
						
						
						

						<div class="footer" th:frame="footer" th:fragment="footer">
							<footer>
								<p>Hệ thống quản lý học tập © 2017</p>
							</footer>
						</div>

					</div>

					<!--						hiển thị div nhập mã phòng-->
					<div class="modal fade" id="tao-phong" tabindex="-1" role="dialog"
						aria-labelledby="myModalLabel2" aria-hidden="true" th:fragment="div_hien_thi_nhap_ma_phong">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">
										<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
									</button>
									<h4 class="modal-title" id="myModalLabel2">Tạo phòng</h4>
								</div>
								<form class="form-horizontal" role="form">
									<div class="modal-body">
										<div class="form-group">
											<label for="room" class="col-sm-3 control-label">Nhập
												tên phòng</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" id="name_room"
													placeholder="Tên phòng" required>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default"
											data-dismiss="modal">Hủy</button>
										<button type="submit" class="btn btn-primary" id="createroom"
											data-toggle="modal" data-target="#ma-phong"
											data-dismiss="modal">Tạo phòng</button>
									</div>
								</form>
							</div>
						</div>
					</div>

					<!--					mã phòng-->
					<div class="modal fade" id="ma-phong" tabindex="-1" role="dialog"
						aria-labelledby="myModalLabel3" aria-hidden="true" th:fragment="ma_phong">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">
										<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
									</button>
									<h4 class="modal-title" id="myModalLabel3">Mã phòng</h4>
								</div>
								<div class="modal-body">
									<form class="form-horizontal" role="form">
										<div class="form-group">
											<label for="room" class="col-sm-3 control-label">Mã
												phòng</label>
											<div class="col-sm-6">
												<input type="text" class="form-control" id="id_room"
													placeholder="Mã phòng" readonly>
											</div>
											<div class="col-sm-3">
												<button type="button" id="btn-copy" class="btn-copy btn btn-default"
													data-clipboard-action="copy"
													data-clipboard-target="#id_room"><i class="fa fa-copy"></i> Sao chép</button>
											</div>
										</div>
									</form>
								</div>
								<div class="modal-footer">
									<a th:href="@{/home}"><button type="button"
											class="btn btn-primary">Xác nhận</button></a>
								</div>
							</div>
						</div>

					</div>

					<div class="col-md-8">

						<div class="divcontent">
							<div class="status row">
								<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 media">
									<img class="media-photo img-responsive avt"
										th:src="@{/images/15284079_583315985195410_4289784661158093094_n.jpg}"
										alt="Ảnh đại diện" />
								</div>
								<div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 cnt">
									<div class="people-stt">
										<a href="#"><strong>Trần Văn Thắng </strong></a> đã đăng trong
										<a href="#"><strong>Phòng 1 </strong></a> <br /> 
										<span class="time-post"  style="color: #B2B2B2; cursor: pointer;" 
											data-toggle="tooltip" data-placement="bottom" 
											title="Thời gian đăng">
											<i class="fa fa-ravelry"></i> 1 phút trước
										</span>
									</div>
								</div>
							</div>
							<div class="content-stt">
							
								<!-- Target -->
							</div>
							<hr />
							<div style="color: #B2B2B2; text-align: right">
								<i class="fa fa-comments-o"> <strong>Bình luận (2)</strong></i>
							</div>
							<hr />
							<div class="comment">
								<div class="cmt-input row">
									<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 media">
										<img class="media-photo img-responsive avt"
											th:src="@{/images/15284079_583315985195410_4289784661158093094_n.jpg}"
											alt="Ảnh đại diện" />
									</div>
									<div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 cnt">
										<input type="text" class="form-control"
											placeholder="Nhập bình luận" />
									</div>
								</div>
								<!--   								bình luận thứ 1-->
								<br />
								<div class="cmt row">
									<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 media">
										<img class="media-photo img-responsive avt"
											th:src="@{/images/15284079_583315985195410_4289784661158093094_n.jpg}"
											alt="Ảnh đại diện" />
									</div>
									<div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 cnt">
										<div class="people-stt">
											<a href="#"><strong>Trương Tam Lang </strong></a> Trời đ*
										</div>
									</div>
								</div>
								<!--   								bình luận thứ 2-->
								<br />
								<div class="cmt row">
									<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 media">
										<img class="media-photo img-responsive avt"
											th:src="@{/images/15284079_583315985195410_4289784661158093094_n.jpg}"
											alt="Ảnh đại diện" />
									</div>
									<div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 cnt">
										<div class="people-stt">
											<a href="#"><strong>Trương Tam Lang </strong></a> Trời đ*
										</div>
									</div>
								</div>
							</div>
						</div>

					
					
					
						<th:block th:if="${#lists.isEmpty(newPost)}">Chào Bạn</th:block>
					
						<th:block th:unless="${#lists.isEmpty(newPost)}">
					
					
<!-- 						<div class="divcontent" th:each="p:${newPost}"> -->
<!-- 							<div class="status row"> -->
<!-- 								<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 media"> -->
<!-- 									<img class="media-photo img-responsive avt" -->
<!-- 										th:src="@{${p.idAcc.avatar}}" -->
<!-- 										alt="Ảnh đại diện" /> -->
<!-- 								</div> -->
<!-- 								<div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 cnt"> -->
<!-- 									<div class="people-stt"> -->
<!-- 										<a href="#"><strong th:text="${p.idAcc.name}"></strong></a> đã đăng trong -->
<!-- 										<a href="#"><strong th:text="${p.roomList[0].roomName}"></strong></a> <br />  -->
<!-- 										<span class="time-post"  style="color: #B2B2B2; cursor: pointer;"  -->
<!-- 											data-toggle="tooltip" data-placement="bottom"  -->
<!-- 											title="Thời gian đăng"> -->
<!-- 											<i class="fa fa-ravelry"></i> <span th:text="${p.postDate}"></span> -->
<!-- 										</span> -->
<!-- 									</div> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 							<div class="content-stt"> -->
<!-- 								<p th:utext="${p.postContent}"></p> -->
<!-- 								Target -->
<!-- 							</div> -->
<!-- 							<hr /> -->
<!-- 							<div style="color: #B2B2B2; text-align: right"> -->
<!-- 								<i class="fa fa-comments-o"> <strong>Bình luận ( <span th:text="${#lists.size(p.commentList)}"></span> )</strong></i> -->
<!-- 							</div> -->
<!-- 							<hr /> -->
<!-- 							<div class="comment"> -->
<!-- 								<div class="cmt-input row"> -->
<!-- 									<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 media"> -->
<!-- 										<img class="media-photo img-responsive avt" -->
<!-- 											th:src="@{${session.account.avatar}!=null?@{${session.account.avatar}}:@{/upload/avatar/default_avatar.jpg}}" -->
<!-- 											alt="Ảnh đại diện" /> -->
<!-- 									</div> -->
<!-- 									<div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 cnt"> -->
<!-- 										<input type="text" class="form-control" -->
<!-- 											th:id="comment_post+${p.idPost}" -->
<!-- 											onkeydown="if(event.keyCode==13) addComment(this.id)" -->
<!-- 											placeholder="Nhập bình luận" /> -->
<!-- 									</div> -->
<!-- 								</div> -->
<!-- 								  								bình luận thứ 1 -->
<!-- 								<br/> -->
									
									
									
<!-- 								<th:block th:each="cmt:${p.commentList}"> -->
<!-- 								<div class="cmt row"> -->
<!-- 									<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 media"> -->
<!-- 										<img class="media-photo img-responsive avt" -->
<!-- 											th:src="${cmt.idAcc.avatar}" -->
<!-- 											alt="Ảnh đại diện" /> -->
<!-- 									</div> -->
<!-- 									<div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 cnt"> -->
<!-- 										<div class="people-stt"> -->
<!-- 											<a href="#"><strong th:text="${cmt.idAcc.name}"></strong></a> <span th:utext="${cmt.commentContent}"></span><br/> -->
<!-- 											<span class="time-post" style="color: #B2B2B2; cursor: pointer;" data-toggle="tooltip" data-placement="bottom" title="Thời gian đăng" -->
<!-- 															th:text="${cmt.commentTime}"> -->
<!-- 														</span> -->
<!-- 										</div> -->
<!-- 									</div> -->
<!-- 								</div> -->
<!-- 								  								bình luận thứ 2 -->
<!-- 								<br /> -->
								
<!-- 								</th:block> -->
								
								
								
								
								
								
<!-- 							</div> -->
<!-- 						</div> -->
						

							<!-- start post -->
							<th:block th:each="post : ${newPost}">
								<div class="divcontent"
									th:id="divcontent+${post.idPost}">
									<div class="status row">
										<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 media">
											<img class="media-photo img-responsive avt"
												th:src="@{${session.account.avatar}}" alt="Ảnh đại diện" />
										</div>
										<div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 cnt">
											<div class="people-stt">
												<!--start  x post -->
												<form onsubmit="return deletePost(this)">
													<input type="hidden" id="idpost-close"
														th:value="${post.idPost}" />
													<button class="close" type="submit">
														<span aria-hidden="true">×</span>
													</button>
												</form>
												<!-- end x post  -->
												<a href="javascript:void(0)"
													th:id="'idAcc_'+${post.idAcc.idAcc}"
													class="memberprofile"><strong
													th:text="${post.idAcc.name}"> </strong></a> <br /> <span
													class="time-post" style="color: #B2B2B2; cursor: pointer;"
													data-toggle="tooltip" data-placement="bottom"
													title="Thời gian đăng"
													th:text="${#dates.format(post.postDate, 'dd-MM-yyyy hh:mm:ss')}">
												</span>
											</div>
										</div>
									</div>
									<div class="content-stt" th:utext="${post.postContent}"></div>

									<th:block th:if="${post.idConnect > 0}">
										<br>
										<div>
											<div class="input-group" style="margin-bottom: 5px">
												<span class="input-group-addon"><input
													name="radio_da" id="radio_da" type="radio" checked
													value="1"></span> <input class="form-control" id="da1"
													readonly="readonly" th:value="${post.da1}" type="text"
													required>
											</div>
											<div class="input-group" style="margin-bottom: 5px">
												<span class="input-group-addon"><input
													name="radio_da" name="radio_da" type="radio" value="2"></span>
												<input class="form-control" id="da2" readonly="readonly"
													th:value="${post.da2}" type="text" required>
											</div>
											<div class="input-group" style="margin-bottom: 5px">
												<span class="input-group-addon"><input
													name="radio_da" name="radio_da" type="radio" value="3"></span>
												<input class="form-control" id="da3" readonly="readonly"
													th:value="${post.da3}" type="text" required>
											</div>
											<div class="input-group" style="margin-bottom: 5px">
												<span class="input-group-addon"><input
													name="radio_da" name="radio_da" type="radio" value="4"></span>
												<input class="form-control" id="da4" readonly="readonly"
													th:value="${post.da4}" type="text" required>
											</div>


										</div>
									</th:block>
									<hr />
									<div style="color: #B2B2B2; text-align: left">
										<a class="link-act" href="javascript:void(0);"
											th:id="like+${post.idPost}"
											onclick="likeThisPost(this)"><i class="fa fa-thumbs-o-up"></i><span
											id="lbl-like"
											th:type="${#lists.contains(post.accountList,session.account)?'1':'0'}"
											th:text="${#lists.contains(post.accountList,session.account)?'Bỏ thích':'Thích'}">

										</span></a>&nbsp;<a href="javascript:void(0)"
											th:onclick="'detailAccountLikePost('+${post.idPost}+')'"
											th:text="'('+${#lists.size(post.accountList)}+')'"></a>
										&nbsp;<a class="link-act" href="javascript:void(0);"><i
											class="fa fa-comment"></i><span> Bình luận (<span
												th:text="${#lists.size(post.commentList)}"></span>)
										</span></a>
									</div>

									<hr />
									<div class="comment">
										<div class="cmt-input row">
											<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 media">
												<img class="media-photo img-responsive avt"
													th:src="@{${session.account.avatar}!=null?@{${session.account.avatar}}:@{/upload/avatar/default_avatar.jpg}}"
													alt="Ảnh đại diện" />
											</div>
											<div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 cnt">
												<input type="text" class="form-control"
													th:id="comment_post+${post.idPost}"
													placeholder="Nhập bình luận"
													onkeydown="if(event.keyCode==13) addComment(this.id)" />
											</div>
										</div>
										<!--   								bình luận thứ 1-->
										<br />
										<div th:id="list_comment+${post.idPost}">
											<th:block th:each="comment : ${post.commentList}">
												<div class="cmt row" th:id="comment+${comment.idComment}">
													<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 media">
														<img class="media-photo img-responsive avt"
															th:src="${comment.idAcc.avatar}" alt="Ảnh đại diện" />
													</div>
													<div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 cnt">
														<!-- start x close comment -->
														<form onsubmit="return deleteComment(this)">
															<input type="hidden" id="idcomment-close"
																th:value="${comment.idComment}" />
															<button class="close" type="submit">
																<span aria-hidden="true">×</span>
															</button>
														</form>
														<!-- end x close comment -->
														<a href="javascript:void(0)"
															th:id="'idAcc_'+${comment.idAcc.idAcc}"
															class="memberprofile"><strong
															th:text="${comment.idAcc.name}"></strong></a> <span
															th:text="${comment.commentContent}"></span><br /> <span
															class="time-post"
															style="color: #B2B2B2; cursor: pointer;"
															data-toggle="tooltip" data-placement="bottom"
															title="Thời gian đăng"
															th:text="${#dates.format(comment.commentTime, 'dd-MM-yyyy hh:mm:ss')}">
														</span>
													</div>
												</div>
											</th:block>
										</div>
									</div>
								</div>
							</th:block>
							<!-- end post -->
						
						
						
						
						
						
						
						
						
						</th:block>
						
						
						

					</div>
					<div class="clearfix visible-xs-block"></div>
				</div>
			</div>
		</div>
	</div>

<!-- 	<!-- <!-- phần chat --> -->
<!-- 	<div class="row"> -->
<!-- 		<div class="col-md-3"> -->
<!-- 			DIRECT CHAT SUCCESS -->
<!-- 			<div class="box box-success direct-chat direct-chat-success"> -->
<!-- 				<div class="box-header with-border"> -->
<!-- 					<h3 class="box-title">Tin nhắn</h3> -->
<!-- 					<span data-toggle="tooltip" title="Tin nhắn mới" -->
<!-- 						class="badge bg-green">3</span> -->
<!-- 					<div class="box-tools pull-right"> -->
<!-- 						<button type="button" class="btn btn-box-tool" -->
<!-- 							data-widget="collapse"> -->
<!-- 							<i class="fa fa-minus"></i> -->
<!-- 						</button> -->
<!-- 						<button type="button" class="btn btn-box-tool" -->
<!-- 							data-toggle="tooltip" title="Liên hệ" -->
<!-- 							data-widget="chat-pane-toggle"> -->
<!-- 							<i class="fa fa-comments"></i> -->
<!-- 						</button> -->
<!-- 						<button type="button" class="btn btn-box-tool" -->
<!-- 							data-widget="remove"> -->
<!-- 							<i class="fa fa-times"></i> -->
<!-- 						</button> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 				/.box-header -->
<!-- 				<div class="box-body"> -->
<!-- 					Conversations are loaded here -->
<!-- 					<div class="direct-chat-messages"> -->
<!-- 						Message. Default to the left -->
<!-- 						<div class="direct-chat-msg"> -->
<!-- 							<div class="direct-chat-info clearfix"> -->
<!-- 								<span class="direct-chat-name pull-left">Người gửi</span> <span -->
<!-- 									class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span> -->
<!-- 							</div> -->
<!-- 							/.direct-chat-info -->
<!-- 							<img class="direct-chat-img" -->
<!-- 								src="https://bootdey.com/img/Content/user_1.jpg" -->
<!-- 								alt="Message User Image" data-toggle="tooltip" data-placement="left" title="Người gửi"/> -->
<!-- 							/.direct-chat-img -->
<!-- 							<div class="direct-chat-text">M là ai thế?</div> -->
<!-- 							/.direct-chat-text -->
<!-- 						</div> -->
<!-- 						/.direct-chat-msg -->

<!-- 						Message to the right -->
<!-- 						<div class="direct-chat-msg right"> -->
<!-- 							<div class="direct-chat-info clearfix"> -->
<!-- 								<span class="direct-chat-name pull-right">Người nhận</span> <span -->
<!-- 									class="direct-chat-timestamp pull-left">Đã xem - 23 Jan 2:05 pm</span> -->
<!-- 							</div> -->
<!-- 							/.direct-chat-info -->
<!-- 							<img class="direct-chat-img" -->
<!-- 								src="https://bootdey.com/img/Content/user_2.jpg" -->
<!-- 								alt="Message User Image"/> -->
								
<!-- 							<img class="direct-chat-img" -->
<!-- 								th:src="${session.account.avatar}!=null?@{${session.account.avatar}}:@{/upload/avatar/default_avatar.jpg}" -->
<!-- 								alt="Ảnh đại diện" data-toggle="tooltip" data-placement="bottom" title="Người nhận"/> -->
<!-- 							/.direct-chat-img -->
<!-- 							<div class="direct-chat-text">Thắng chó đây!</div> -->
<!-- 							/.direct-chat-text -->
<!-- 						</div> -->
<!-- 						/.direct-chat-msg -->
<!-- 					</div> -->
<!-- 					/.direct-chat-messages -->

<!-- 					Contacts are loaded here -->
<!-- 					<div class="direct-chat-contacts"> -->
<!-- 						<ul class="contacts-list"> -->
<!-- 							<li><a href="#"> <img class="contacts-list-img" -->
<!-- 									src="https://bootdey.com/img/Content/user_1.jpg"/> <span -->
<!-- 									class="contacts-list-name"> Count Dracula <small -->
<!-- 										class="contacts-list-date pull-right">2/28/2015</small> -->
<!-- 								</span> <span class="contacts-list-msg">How have you been? I -->
<!-- 										was...</span> -->
<!-- 							</a></li> -->
<!-- 							End Contact Item -->
<!-- 						</ul> -->
<!-- 						/.contatcts-list -->
<!-- 					</div> -->
<!-- 					/.direct-chat-pane -->
<!-- 				</div> -->
<!-- 				/.box-body -->
<!-- 				<div class="box-footer"> -->
<!-- 					<form action="#" method="post"> -->
<!-- 						<div class="input-group"> -->
<!-- 							<input type="text" name="message" placeholder="Nhập tin nhắn ..." -->
<!-- 								class="form-control"> <span class="input-group-btn"> -->
<!-- 								<button type="submit" class="btn btn-success btn-flat"> -->
<!-- 									<i class="fa fa-paper-plane"></i> -->
<!-- 								</button> -->
<!-- 							</span> -->
<!-- 						</div> -->
<!-- 					</form> -->
<!-- 				</div> -->
<!-- 				/.box-footer -->
<!-- 			</div> -->
<!-- 			/.direct-chat -->
<!-- 		</div> -->
<!-- 	</div> -->
<!-- 	hết phần chat --> -->


	
	<script>
		document.getElementById("close-slide").style.display = "none";
		function openNav() {
			document.getElementById("mySidenav").style.width = "250px";
			document.getElementById("open-slide").style.display = "none";
			document.getElementById("close-slide").style.display = "block";
		}

		function closeNav() {
			document.getElementById("mySidenav").style.width = "0";
			document.getElementById("open-slide").style.display = "block";
			document.getElementById("close-slide").style.display = "none";
		}
		
		new Clipboard('.btn-copy');
	</script>
</body>
</html>
