<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Đăng ký</title>
	<!--boostrap 4-->
	<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/css/dangnhap.css}" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="row">
		  	<div class="col-md-7">
				<h6 style="color: #FFFFFF;"></h6>
	  		</div>
<!--		form đăng nhập và đăng ký-->
		  	<div class="col-md-5">
		  		<div class="login-wrap">
					<div class="login-html">
						<input id="tab-1" type="radio" name="tab" class="sign-in" checked>
						<label for="tab-1" class="tab">ĐĂNG KÝ</label>
						<input id="tab-2" type="radio" name="tab" class="sign-up">
						<label for="tab-2" class="tab"></label>
						
						<div class="login-form">
							<div class="sign-in-htm">
								<form th:action="@{/account/sign_up}" method="post">
									<div class="group">
										<label for="email" class="label">Email</label>
										<input id="email" name="email" type="email" class="input" onchange="check_email()" required="required"
										th:value="${email}">
									</div>
									<div class="group">
										<label for="password" class="label">Mật khẩu</label>
										<input pattern=".{5,50}" required title="5 đến 50 kí tự" id="password" type="password" name="password" class="input" required="required"  maxlength="50">
									</div>
									<div class="group">
										<label for="repassword" class="label">Nhập lại mật khẩu</label>
										<input id="repassword" name="repassword" type="password" class="input" required="required">
									</div>
									<div class="group">
										<input type="submit" class="button" value="Đăng ký">
									</div>
									<p class="text-center" style="color: red" id="err" th:text="${err}"></p>
									<p class="text-center" style="color: white;" th:text="${suscess}"></p>
									<div class="hr"></div>
									<div class="foot-lnk">
										<p class="text-left">&emsp;
											<a href="/">Đã có tài khoản?</a> <a th:href="@{/}">&emsp;Đăng nhập ngay!</a>
										</p>
									</div>
								</form>
							</div>
							<div class="sign-up-htm">
								
							</div>
						</div>
					</div>
				</div>
		  	</div>
		</div>
	</div>


	<!--java script-->
	<script th:src="@{/js/jquery-3.1.1.min.js}"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/ajax/a1.js}"></script>
</body>
</html>
