USE [master]
GO
/****** Object:  Database [Quiz]    Script Date: 22/06/2017 5:43:23 CH ******/
CREATE DATABASE [Quiz]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Quiz', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Quiz.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Quiz_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Quiz_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Quiz].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Quiz]
GO
/****** Object:  UserDefinedFunction [dbo].[getCorrectAnswer]    Script Date: 22/06/2017 5:43:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[getCorrectAnswer](@id_question int, @id_answer int)
returns NVARCHAR(MAX)
as
begin
declare @rs NVARCHAR(MAX)
set @rs = (select answer_content from dbo.correct_answer where id_question=@id_question and id_answer=@id_answer)
return @rs
end



GO
/****** Object:  Table [dbo].[account]    Script Date: 22/06/2017 5:43:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[account](
	[id_acc] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[birth] [date] NULL,
	[job] [nvarchar](50) NULL,
	[gender] [bit] NULL,
	[email] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[state] [bit] NOT NULL CONSTRAINT [DF_account_state]  DEFAULT ((0)),
	[address] [nvarchar](300) NULL,
	[avatar] [varchar](500) NULL,
 CONSTRAINT [PK_account] PRIMARY KEY CLUSTERED 
(
	[id_acc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cl_list2]    Script Date: 22/06/2017 5:43:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cl_list2](
	[pmcode] [nvarchar](10) NOT NULL,
	[cdgr] [nvarchar](10) NOT NULL,
	[val_name] [nvarchar](50) NOT NULL,
	[param_name] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_clList2] PRIMARY KEY CLUSTERED 
(
	[param_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[comment]    Script Date: 22/06/2017 5:43:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment](
	[id_post] [int] NOT NULL,
	[id_acc] [int] NOT NULL,
	[comment_content] [ntext] NOT NULL,
	[comment_time] [datetime] NOT NULL,
	[comment_state] [bit] NOT NULL,
	[id_comment] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_comment] PRIMARY KEY CLUSTERED 
(
	[id_comment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[correct_answer]    Script Date: 22/06/2017 5:43:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[correct_answer](
	[id_question] [int] NOT NULL,
	[id_answer] [int] NOT NULL,
	[answer_content] [ntext] NULL,
	[correct_answer] [bit] NULL,
 CONSTRAINT [PK_correct_answer_1] PRIMARY KEY CLUSTERED 
(
	[id_question] ASC,
	[id_answer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[chat]    Script Date: 22/06/2017 5:43:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[chat](
	[chat_id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](max) NOT NULL,
	[room_id] [nvarchar](max) NOT NULL,
	[COUNT_MSG] [int] NULL CONSTRAINT [DF_chat_COUNT_MSG]  DEFAULT ((0)),
	[LAST_USER] [varchar](max) NULL,
 CONSTRAINT [PK_chat] PRIMARY KEY CLUSTERED 
(
	[chat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[chatdetails]    Script Date: 22/06/2017 5:43:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chatdetails](
	[details_chat_id] [int] IDENTITY(1,1) NOT NULL,
	[body] [ntext] NULL,
	[time_on] [datetime] NULL,
	[chat_id] [int] NULL,
	[url] [nvarchar](255) NULL,
	[client_id] [nvarchar](255) NULL,
 CONSTRAINT [PK_chatdetails] PRIMARY KEY CLUSTERED 
(
	[details_chat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[liked]    Script Date: 22/06/2017 5:43:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[liked](
	[id_post] [int] NOT NULL,
	[id_acc] [int] NOT NULL,
 CONSTRAINT [PK_like] PRIMARY KEY CLUSTERED 
(
	[id_post] ASC,
	[id_acc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[post]    Script Date: 22/06/2017 5:43:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[post](
	[id_post] [int] IDENTITY(1,1) NOT NULL,
	[post_content] [ntext] NOT NULL,
	[post_date] [datetime] NOT NULL,
	[id_connect] [int] NOT NULL,
	[id_post_type] [int] NOT NULL,
	[id_acc] [int] NOT NULL,
 CONSTRAINT [PK_post] PRIMARY KEY CLUSTERED 
(
	[id_post] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[post_manage]    Script Date: 22/06/2017 5:43:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[post_manage](
	[id_post] [int] NOT NULL,
	[id_room] [int] NOT NULL,
 CONSTRAINT [PK_post_manage_1] PRIMARY KEY CLUSTERED 
(
	[id_post] ASC,
	[id_room] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[question]    Script Date: 22/06/2017 5:43:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[question](
	[id_question] [int] IDENTITY(1,1) NOT NULL,
	[question_content] [text] NULL,
	[question_type] [int] NULL,
	[id_topic] [int] NULL,
 CONSTRAINT [PK_question] PRIMARY KEY CLUSTERED 
(
	[id_question] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[relationship]    Script Date: 22/06/2017 5:43:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[relationship](
	[id_acc_add] [int] NOT NULL,
	[id_acc_friend] [int] NOT NULL,
	[waiting] [bit] NULL,
 CONSTRAINT [PK_relationship] PRIMARY KEY CLUSTERED 
(
	[id_acc_add] ASC,
	[id_acc_friend] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[room]    Script Date: 22/06/2017 5:43:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[room](
	[id_room] [int] IDENTITY(1,1) NOT NULL,
	[room_name] [nvarchar](50) NOT NULL,
	[room_descr] [nvarchar](100) NOT NULL,
	[id_acc] [int] NOT NULL,
	[id_test] [int] NULL,
 CONSTRAINT [PK_room] PRIMARY KEY CLUSTERED 
(
	[id_room] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[room_manage]    Script Date: 22/06/2017 5:43:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[room_manage](
	[id_room] [int] NOT NULL,
	[id_acc] [int] NOT NULL,
	[state] [bit] NOT NULL,
 CONSTRAINT [PK_room_manage] PRIMARY KEY CLUSTERED 
(
	[id_room] ASC,
	[id_acc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[task]    Script Date: 22/06/2017 5:43:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[task](
	[id_test] [int] NOT NULL,
	[id_acc] [int] NOT NULL,
	[id_question] [int] NOT NULL,
	[id_answer] [int] NULL,
	[note] [text] NULL,
 CONSTRAINT [PK_task] PRIMARY KEY CLUSTERED 
(
	[id_test] ASC,
	[id_acc] ASC,
	[id_question] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[test]    Script Date: 22/06/2017 5:43:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test](
	[id_test] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NULL,
	[date_start] [date] NULL,
	[date_end] [date] NULL,
 CONSTRAINT [PK_test] PRIMARY KEY CLUSTERED 
(
	[id_test] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[test_content]    Script Date: 22/06/2017 5:43:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test_content](
	[id_test] [int] NOT NULL,
	[id_question] [int] NOT NULL,
 CONSTRAINT [PK_test_content] PRIMARY KEY CLUSTERED 
(
	[id_test] ASC,
	[id_question] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[test_default_room]    Script Date: 22/06/2017 5:43:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test_default_room](
	[id_test] [int] NOT NULL,
	[id_room] [int] NOT NULL,
 CONSTRAINT [PK_test_default_room] PRIMARY KEY CLUSTERED 
(
	[id_test] ASC,
	[id_room] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[topic]    Script Date: 22/06/2017 5:43:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[topic](
	[id_topic] [int] IDENTITY(1,1) NOT NULL,
	[topic_name] [nvarchar](300) NULL,
	[id_acc] [int] NULL,
 CONSTRAINT [PK_topic] PRIMARY KEY CLUSTERED 
(
	[id_topic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  UserDefinedFunction [dbo].[f_getMemberInRoom]    Script Date: 22/06/2017 5:43:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

   create function [dbo].[f_getMemberInRoom](@id_room int)  returns table
   as
   return(
		select  account.id_acc, isnull(name,email) as name from room_manage  left join account on account.id_acc=room_manage.id_acc   where room_manage.id_room=@id_room and room_manage.state=1)





GO
/****** Object:  UserDefinedFunction [dbo].[getPostByGroup]    Script Date: 22/06/2017 5:43:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[getPostByGroup](@room_id int)
returns table
as
return (select  p.id_post,p.post_content,p.post_date, p.id_acc,case when p.id_connect =0 then 'POST' else 'QUIZ' end as type_post,case when p.id_connect =0 then '' ELSE isnull(dbo.getCorrectAnswer(id_connect,1),'') END as da1,case when p.id_connect =0 then ''ELSE isnull(dbo.getCorrectAnswer(id_connect,2),'') END as da2,case when p.id_connect =0 then '' ELSE isnull(dbo.getCorrectAnswer(id_connect,3),'') END as da3,case when p.id_connect =0 then '' ELSE isnull(dbo.getCorrectAnswer(id_connect,4),'') END as da4
from dbo.post_manage m inner join ( dbo.post p left join dbo.question q  on p.id_connect = q.id_question ) on m.id_post=p.id_post
where m.id_room=@room_id
)


GO
/****** Object:  UserDefinedFunction [dbo].[getPostQuizByGroup]    Script Date: 22/06/2017 5:43:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[getPostQuizByGroup] (@post_id int)
RETURNS TABLE
AS
  RETURN (SELECT
    p.id_post,
    p.post_content,
    p.post_date,
    p.id_acc,
    CASE
      WHEN p.id_connect = 0 THEN 'POST'
      ELSE 'QUIZ'
    END AS type_post,
    CASE
      WHEN p.id_connect = 0 THEN ''
      ELSE ISNULL(dbo.getCorrectAnswer(id_connect, 1), '')
    END AS da1,
    CASE
      WHEN p.id_connect = 0 THEN ''
      ELSE ISNULL(dbo.getCorrectAnswer(id_connect, 2), '')
    END AS da2,
    CASE
      WHEN p.id_connect = 0 THEN ''
      ELSE ISNULL(dbo.getCorrectAnswer(id_connect, 3), '')
    END AS da3,
    CASE
      WHEN p.id_connect = 0 THEN ''
      ELSE ISNULL(dbo.getCorrectAnswer(id_connect, 4), '')
    END AS da4
  FROM dbo.post p
  LEFT JOIN dbo.question q
    ON p.id_connect = q.id_question
  WHERE p.id_connect > 0
  AND p.id_post = @post_id
  )


GO
SET IDENTITY_INSERT [dbo].[account] ON 

INSERT [dbo].[account] ([id_acc], [name], [birth], [job], [gender], [email], [password], [state], [address], [avatar]) VALUES (1, N'Trần Văn Thắng', CAST(N'2017-06-17' AS Date), N'Sinh Viên', 1, N'vanthang20437@gmail.com', N'12345', 1, N'Dh Nông lâm', N'https://docs.google.com/uc?id=0B8pIcz51dX7JaHpFVzlaUlg1X2c')
INSERT [dbo].[account] ([id_acc], [name], [birth], [job], [gender], [email], [password], [state], [address], [avatar]) VALUES (2, N'tam lagn', CAST(N'2017-06-17' AS Date), N'Sinh Viên', 0, N'vanthang1996@yahoo.com', N'12345', 1, N'DH Nông lâm', N'https://docs.google.com/uc?id=0B8pIcz51dX7JRHBHaUZBMEZGZWs')
INSERT [dbo].[account] ([id_acc], [name], [birth], [job], [gender], [email], [password], [state], [address], [avatar]) VALUES (3, N'Trần Văn Thắng', CAST(N'2017-01-01' AS Date), N'Sinh Vien', 1, N'14130118@st.hcmuaf.edu.vn', N'12345', 1, N'Dh Nông lâm', N'https://docs.google.com/uc?id=0B8pIcz51dX7JVGJHZ2lzSkktVGs')
SET IDENTITY_INSERT [dbo].[account] OFF
SET IDENTITY_INSERT [dbo].[cl_list2] ON 

INSERT [dbo].[cl_list2] ([pmcode], [cdgr], [val_name], [param_name]) VALUES (N'USER', N'POST', N'Trạng thái', 1)
INSERT [dbo].[cl_list2] ([pmcode], [cdgr], [val_name], [param_name]) VALUES (N'USER', N'POST', N'Trắc nghiệm', 3)
INSERT [dbo].[cl_list2] ([pmcode], [cdgr], [val_name], [param_name]) VALUES (N'USER', N'POST', N'Up file', 4)
SET IDENTITY_INSERT [dbo].[cl_list2] OFF
SET IDENTITY_INSERT [dbo].[comment] ON 

INSERT [dbo].[comment] ([id_post], [id_acc], [comment_content], [comment_time], [comment_state], [id_comment]) VALUES (16, 3, N'ádasd', CAST(N'2017-05-06 10:03:36.870' AS DateTime), 1, 1007)
INSERT [dbo].[comment] ([id_post], [id_acc], [comment_content], [comment_time], [comment_state], [id_comment]) VALUES (16, 3, N'ádasd', CAST(N'2017-05-06 10:03:37.137' AS DateTime), 1, 1008)
INSERT [dbo].[comment] ([id_post], [id_acc], [comment_content], [comment_time], [comment_state], [id_comment]) VALUES (16, 3, N'ádasd', CAST(N'2017-05-06 10:03:37.320' AS DateTime), 1, 1009)
SET IDENTITY_INSERT [dbo].[comment] OFF
INSERT [dbo].[correct_answer] ([id_question], [id_answer], [answer_content], [correct_answer]) VALUES (1, 1, NULL, NULL)
INSERT [dbo].[correct_answer] ([id_question], [id_answer], [answer_content], [correct_answer]) VALUES (2, 2, N'nodn4g', 1)
INSERT [dbo].[correct_answer] ([id_question], [id_answer], [answer_content], [correct_answer]) VALUES (2, 3, N'nodng343', 0)
GO
SET IDENTITY_INSERT [dbo].[chat] ON 

INSERT [dbo].[chat] ([chat_id], [code], [room_id], [COUNT_MSG], [LAST_USER]) VALUES (21, N'POST_1', N'2', 3, N'2')
INSERT [dbo].[chat] ([chat_id], [code], [room_id], [COUNT_MSG], [LAST_USER]) VALUES (22, N'POST_1', N'3', 3, N'3')
SET IDENTITY_INSERT [dbo].[chat] OFF
SET IDENTITY_INSERT [dbo].[chatdetails] ON 

INSERT [dbo].[chatdetails] ([details_chat_id], [body], [time_on], [chat_id], [url], [client_id]) VALUES (209, N'Trần Văn Thắng vừa đăng một bài viết mới trong nhóm Công Nghệ Phần Mềm', CAST(N'2017-06-22 04:44:30.073' AS DateTime), 21, N'/classRoom/1012#divcontent3243', N'2')
INSERT [dbo].[chatdetails] ([details_chat_id], [body], [time_on], [chat_id], [url], [client_id]) VALUES (210, N'Trần Văn Thắng vừa đăng một bài viết mới trong nhóm Công Nghệ Phần Mềm', CAST(N'2017-06-22 04:44:30.093' AS DateTime), 22, N'/classRoom/1012#divcontent3243', N'3')
INSERT [dbo].[chatdetails] ([details_chat_id], [body], [time_on], [chat_id], [url], [client_id]) VALUES (211, N'Trần Văn Thắng vừa đăng một bài viết mới trong nhóm Công Nghệ Phần Mềm', CAST(N'2017-06-22 04:49:57.893' AS DateTime), 21, N'/classRoom/1012#divcontent3246', N'2')
SET IDENTITY_INSERT [dbo].[chatdetails] OFF
SET IDENTITY_INSERT [dbo].[post] ON 

INSERT [dbo].[post] ([id_post], [post_content], [post_date], [id_connect], [id_post_type], [id_acc]) VALUES (14, N'dxfcgv
', CAST(N'2017-05-03 15:02:35.340' AS DateTime), 0, 1, 1)
INSERT [dbo].[post] ([id_post], [post_content], [post_date], [id_connect], [id_post_type], [id_acc]) VALUES (16, N'ádasd
', CAST(N'2017-05-06 10:00:58.817' AS DateTime), 0, 1, 3)
INSERT [dbo].[post] ([id_post], [post_content], [post_date], [id_connect], [id_post_type], [id_acc]) VALUES (35, N'ád', CAST(N'2017-05-08 03:10:32.557' AS DateTime), 0, 1, 2)
GO
SET IDENTITY_INSERT [dbo].[post] OFF
INSERT [dbo].[post_manage] ([id_post], [id_room]) VALUES (16, 3)
INSERT [dbo].[post_manage] ([id_post], [id_room]) VALUES (3086, 1017)
INSERT [dbo].[post_manage] ([id_post], [id_room]) VALUES (3087, 1017)
SET IDENTITY_INSERT [dbo].[question] ON 

INSERT [dbo].[question] ([id_question], [question_content], [question_type], [id_topic]) VALUES (1, N'Không tin du?c', 3, NULL)
INSERT [dbo].[question] ([id_question], [question_content], [question_type], [id_topic]) VALUES (2, N'nodng', NULL, NULL)
INSERT [dbo].[question] ([id_question], [question_content], [question_type], [id_topic]) VALUES (1002, N'nodng', NULL, NULL)
SET IDENTITY_INSERT [dbo].[question] OFF
INSERT [dbo].[relationship] ([id_acc_add], [id_acc_friend], [waiting]) VALUES (1, 3, 1)
SET IDENTITY_INSERT [dbo].[room] ON 

INSERT [dbo].[room] ([id_room], [room_name], [room_descr], [id_acc], [id_test]) VALUES (3, N'hscdvbkjlam', N'', 3, NULL)
INSERT [dbo].[room] ([id_room], [room_name], [room_descr], [id_acc], [id_test]) VALUES (11, N'Phong hoc 1', N'', 2, 4)
INSERT [dbo].[room] ([id_room], [room_name], [room_descr], [id_acc], [id_test]) VALUES (1012, N'Công Nghệ Phần Mềm', N'', 1, 1005)
SET IDENTITY_INSERT [dbo].[room] OFF
INSERT [dbo].[room_manage] ([id_room], [id_acc], [state]) VALUES (3, 3, 1)
INSERT [dbo].[room_manage] ([id_room], [id_acc], [state]) VALUES (11, 1, 0)
INSERT [dbo].[room_manage] ([id_room], [id_acc], [state]) VALUES (11, 2, 1)
INSERT [dbo].[task] ([id_test], [id_acc], [id_question], [id_answer], [note]) VALUES (1005, 1, 2072, 1, N'')
INSERT [dbo].[task] ([id_test], [id_acc], [id_question], [id_answer], [note]) VALUES (1005, 1, 2075, 4, N'')
INSERT [dbo].[task] ([id_test], [id_acc], [id_question], [id_answer], [note]) VALUES (1005, 1, 2076, 1, N'')
SET IDENTITY_INSERT [dbo].[test] ON 

INSERT [dbo].[test] ([id_test], [title], [date_start], [date_end]) VALUES (4, N'11-POST-2', NULL, NULL)
INSERT [dbo].[test] ([id_test], [title], [date_start], [date_end]) VALUES (5, N'12-POST-1', NULL, NULL)
INSERT [dbo].[test] ([id_test], [title], [date_start], [date_end]) VALUES (1005, N'1012-POST-1', NULL, NULL)
SET IDENTITY_INSERT [dbo].[test] OFF
INSERT [dbo].[test_default_room] ([id_test], [id_room]) VALUES (4, 11)
INSERT [dbo].[test_default_room] ([id_test], [id_room]) VALUES (1005, 1012)
INSERT [dbo].[test_default_room] ([id_test], [id_room]) VALUES (1006, 1013)
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_account]    Script Date: 22/06/2017 5:43:24 CH ******/
ALTER TABLE [dbo].[account] ADD  CONSTRAINT [IX_account] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [FK_comment_account] FOREIGN KEY([id_acc])
REFERENCES [dbo].[account] ([id_acc])
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [FK_comment_account]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [FK_comment_post] FOREIGN KEY([id_post])
REFERENCES [dbo].[post] ([id_post])
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [FK_comment_post]
GO
ALTER TABLE [dbo].[correct_answer]  WITH CHECK ADD  CONSTRAINT [FK_correct_answer_question1] FOREIGN KEY([id_question])
REFERENCES [dbo].[question] ([id_question])
GO
ALTER TABLE [dbo].[correct_answer] CHECK CONSTRAINT [FK_correct_answer_question1]
GO
ALTER TABLE [dbo].[chatdetails]  WITH CHECK ADD  CONSTRAINT [FK_chatdetails_chat] FOREIGN KEY([chat_id])
REFERENCES [dbo].[chat] ([chat_id])
GO
ALTER TABLE [dbo].[chatdetails] CHECK CONSTRAINT [FK_chatdetails_chat]
GO
ALTER TABLE [dbo].[liked]  WITH CHECK ADD  CONSTRAINT [FK_like_account] FOREIGN KEY([id_acc])
REFERENCES [dbo].[account] ([id_acc])
GO
ALTER TABLE [dbo].[liked] CHECK CONSTRAINT [FK_like_account]
GO
ALTER TABLE [dbo].[liked]  WITH CHECK ADD  CONSTRAINT [FK_like_post] FOREIGN KEY([id_post])
REFERENCES [dbo].[post] ([id_post])
GO
ALTER TABLE [dbo].[liked] CHECK CONSTRAINT [FK_like_post]
GO
ALTER TABLE [dbo].[post]  WITH CHECK ADD  CONSTRAINT [FK_post_account] FOREIGN KEY([id_acc])
REFERENCES [dbo].[account] ([id_acc])
GO
ALTER TABLE [dbo].[post] CHECK CONSTRAINT [FK_post_account]
GO
ALTER TABLE [dbo].[post]  WITH CHECK ADD  CONSTRAINT [FK_post_clList2] FOREIGN KEY([id_post_type])
REFERENCES [dbo].[cl_list2] ([param_name])
GO
ALTER TABLE [dbo].[post] CHECK CONSTRAINT [FK_post_clList2]
GO
ALTER TABLE [dbo].[post_manage]  WITH CHECK ADD  CONSTRAINT [FK_post_manage_post] FOREIGN KEY([id_post])
REFERENCES [dbo].[post] ([id_post])
GO
ALTER TABLE [dbo].[post_manage] CHECK CONSTRAINT [FK_post_manage_post]
GO
ALTER TABLE [dbo].[post_manage]  WITH CHECK ADD  CONSTRAINT [FK_post_manage_room] FOREIGN KEY([id_room])
REFERENCES [dbo].[room] ([id_room])
GO
ALTER TABLE [dbo].[post_manage] CHECK CONSTRAINT [FK_post_manage_room]
GO
ALTER TABLE [dbo].[question]  WITH CHECK ADD  CONSTRAINT [FK_question_clList22] FOREIGN KEY([question_type])
REFERENCES [dbo].[cl_list2] ([param_name])
GO
ALTER TABLE [dbo].[question] CHECK CONSTRAINT [FK_question_clList22]
GO
ALTER TABLE [dbo].[question]  WITH CHECK ADD  CONSTRAINT [FK_question_topic] FOREIGN KEY([id_topic])
REFERENCES [dbo].[topic] ([id_topic])
GO
ALTER TABLE [dbo].[question] CHECK CONSTRAINT [FK_question_topic]
GO
ALTER TABLE [dbo].[relationship]  WITH CHECK ADD  CONSTRAINT [FK_relationship_account] FOREIGN KEY([id_acc_add])
REFERENCES [dbo].[account] ([id_acc])
GO
ALTER TABLE [dbo].[relationship] CHECK CONSTRAINT [FK_relationship_account]
GO
ALTER TABLE [dbo].[relationship]  WITH CHECK ADD  CONSTRAINT [FK_relationship_account1] FOREIGN KEY([id_acc_friend])
REFERENCES [dbo].[account] ([id_acc])
GO
ALTER TABLE [dbo].[relationship] CHECK CONSTRAINT [FK_relationship_account1]
GO
ALTER TABLE [dbo].[room]  WITH CHECK ADD  CONSTRAINT [FK_room_account] FOREIGN KEY([id_acc])
REFERENCES [dbo].[account] ([id_acc])
GO
ALTER TABLE [dbo].[room] CHECK CONSTRAINT [FK_room_account]
GO
ALTER TABLE [dbo].[room_manage]  WITH CHECK ADD  CONSTRAINT [FK_room_manage_account] FOREIGN KEY([id_acc])
REFERENCES [dbo].[account] ([id_acc])
GO
ALTER TABLE [dbo].[room_manage] CHECK CONSTRAINT [FK_room_manage_account]
GO
ALTER TABLE [dbo].[room_manage]  WITH CHECK ADD  CONSTRAINT [FK_room_manage_room] FOREIGN KEY([id_room])
REFERENCES [dbo].[room] ([id_room])
GO
ALTER TABLE [dbo].[room_manage] CHECK CONSTRAINT [FK_room_manage_room]
GO
ALTER TABLE [dbo].[task]  WITH CHECK ADD  CONSTRAINT [FK_task_account] FOREIGN KEY([id_acc])
REFERENCES [dbo].[account] ([id_acc])
GO
ALTER TABLE [dbo].[task] CHECK CONSTRAINT [FK_task_account]
GO
ALTER TABLE [dbo].[task]  WITH CHECK ADD  CONSTRAINT [FK_task_question] FOREIGN KEY([id_question])
REFERENCES [dbo].[question] ([id_question])
GO
ALTER TABLE [dbo].[task] CHECK CONSTRAINT [FK_task_question]
GO
ALTER TABLE [dbo].[task]  WITH CHECK ADD  CONSTRAINT [FK_task_test] FOREIGN KEY([id_test])
REFERENCES [dbo].[test] ([id_test])
GO
ALTER TABLE [dbo].[task] CHECK CONSTRAINT [FK_task_test]
GO
ALTER TABLE [dbo].[test_content]  WITH CHECK ADD  CONSTRAINT [FK_test_content_question] FOREIGN KEY([id_question])
REFERENCES [dbo].[question] ([id_question])
GO
ALTER TABLE [dbo].[test_content] CHECK CONSTRAINT [FK_test_content_question]
GO
ALTER TABLE [dbo].[test_content]  WITH CHECK ADD  CONSTRAINT [FK_test_content_test] FOREIGN KEY([id_test])
REFERENCES [dbo].[test] ([id_test])
GO
ALTER TABLE [dbo].[test_content] CHECK CONSTRAINT [FK_test_content_test]
GO
ALTER TABLE [dbo].[test_default_room]  WITH CHECK ADD  CONSTRAINT [FK_test_default_room_room] FOREIGN KEY([id_room])
REFERENCES [dbo].[room] ([id_room])
GO
ALTER TABLE [dbo].[test_default_room] CHECK CONSTRAINT [FK_test_default_room_room]
GO
ALTER TABLE [dbo].[test_default_room]  WITH CHECK ADD  CONSTRAINT [FK_test_default_room_test] FOREIGN KEY([id_test])
REFERENCES [dbo].[test] ([id_test])
GO
ALTER TABLE [dbo].[test_default_room] CHECK CONSTRAINT [FK_test_default_room_test]
GO
ALTER TABLE [dbo].[topic]  WITH CHECK ADD  CONSTRAINT [FK_topic_account] FOREIGN KEY([id_acc])
REFERENCES [dbo].[account] ([id_acc])
GO
ALTER TABLE [dbo].[topic] CHECK CONSTRAINT [FK_topic_account]
GO
/****** Object:  StoredProcedure [dbo].[box_msg]    Script Date: 22/06/2017 5:43:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[box_msg] 
@code nvarchar(max) ,
@room_id   nvarchar(max) ,
@top int  =null 
AS
SET NOCOUNT ON;
IF @top is null 
 set @top = 5 
 IF EXISTS (SELECT *  FROM chat c WHERE c.LAST_USER LIKE  @code )
 BEGIN
   UPDATE chat set  COUNT_MSG = 0 WHERE ((code = @code  AND room_id = @room_id AND LAST_USER = @code )OR (code = @room_id AND room_id = @code AND LAST_USER = @code)) and code not like 'POST_%'
 END
SELECT  top (@top)  d.body , d.time_on  , d.url  , d.client_id FROM chat c  JOIN chatdetails d ON c.chat_id = d.chat_id  
    where( c.code = @code and c.room_id = @room_id OR c.code = @room_id AND c.room_id = @code) and c.code not like 'POST_%'  ORDER BY d.time_on DESC






GO
/****** Object:  StoredProcedure [dbo].[box_notify]    Script Date: 22/06/2017 5:43:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[box_notify] 
@code nvarchar(max) ,
@room_id   nvarchar(max) ,
@top int  =null 
AS
SET NOCOUNT ON;
IF @top is null 
 set @top = 5 
 IF EXISTS (SELECT *  FROM chat c WHERE c.LAST_USER=@room_id )
 BEGIN
   UPDATE chat set  COUNT_MSG = 0 WHERE (code like @code+'%'  AND room_id = @room_id  )and code like 'POST_%'
 END
SELECT  top (@top)  d.body , d.time_on  , d.url  , d.client_id , c.code FROM chat c  JOIN chatdetails d ON c.chat_id = d.chat_id  
    where ( c.room_id = @room_id and c.code like @code+'%') and c.code  like 'POST_%' ORDER BY d.time_on DESC




GO
/****** Object:  StoredProcedure [dbo].[danhsachbanbe]    Script Date: 22/06/2017 5:43:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE proc [dbo].[danhsachbanbe] @id_acc int
 as begin
if @id_acc  is not null
select account.*  from dbo.relationship join account on account.id_acc=relationship.id_acc_friend where  dbo.relationship.id_acc_add=@id_acc and dbo.relationship.waiting=0
end



GO
/****** Object:  StoredProcedure [dbo].[kiemtratinnhan]    Script Date: 22/06/2017 5:43:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



	CREATE proc  [dbo].[kiemtratinnhan] 
	@code  nvarchar(max) 
	AS 
	SELECT  * from  chat c where c.COUNT_MSG > 0 AND c.LAST_USER  like @code   and c.code not like 'POST_%'  	







GO
/****** Object:  StoredProcedure [dbo].[kiemtrathongbao]    Script Date: 22/06/2017 5:43:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc  [dbo].[kiemtrathongbao] 
	@room_id  nvarchar(max) 
	AS 
	SELECT  * from  chat c where c.COUNT_MSG > 0 AND c.LAST_USER = @room_id   and c.code  like 'POST_%'  	


GO
/****** Object:  StoredProcedure [dbo].[p_addAnswerIntoTestRoom]    Script Date: 22/06/2017 5:43:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE  procedure [dbo].[p_addAnswerIntoTestRoom] @id_room int ,@id_question int, @id_acc int, @id_answer int
 as
 begin
	declare @enable int
	set @enable = 1
	declare @id_test int
	set @id_test=(select isnull(id_test,-1)  from room where id_room=@id_room)
	if @id_test is not null or @id_test>-1
		begin
			if exists (select * from dbo.task where id_Acc=@id_acc and @id_question=id_question and id_test=@id_test) and @enable= 1
			
			update dbo.task
			set id_answer=@id_answer
			where id_Acc=@id_acc and @id_question=id_question and id_test=@id_test
			
			else
			INSERT INTO TASK  VALUES (@id_test,@id_acc,@id_question,@id_answer,N'')
			
		end 
	
 end


GO
/****** Object:  StoredProcedure [dbo].[p_addCommentIntoPost_comment]    Script Date: 22/06/2017 5:43:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[p_addCommentIntoPost_comment] @comment_content ntext,
 @id_post  int, @id_acc int
 AS
 BEGIN
 if exists(select id_acc from room_manage where id_room =(select id_room from post_manage where id_post=@id_post)  and id_acc=@id_acc)
 or exists(select id_acc from room where id_room =(select id_room from post_manage where id_post=@id_post)  and id_acc=@id_acc)
	begin
		DECLARE @comment_time  datetime 
	 set @comment_time = getdate();
		INSERT INTO COMMENT VALUES(@id_post,@id_acc,@comment_content,@comment_time,1);
	end
	else raiserror(N'Tài khoản không thuộc nhóm của bài đăng không thể đăng bình luận!',16,1);
 END



GO
/****** Object:  StoredProcedure [dbo].[p_addPostAfterIntoRoom_postAndRoom]    Script Date: 22/06/2017 5:43:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[p_addPostAfterIntoRoom_postAndRoom] @post_content	ntext,
@id_post_type	int,
@id_acc	int,
@id_room int
 AS
 BEGIN
	set nocount on;
		IF EXISTS(select *  from room_manage  where id_acc=@id_acc and id_room=@id_room and room_manage.state=1) or exists (select *  from room where id_acc=@id_acc)
			BEGIN
			declare @post_date  datetime;
			set @post_date = GETDATE();
				INSERT INTO POST		VALUES(@post_content,@post_date, 0, @id_post_type, @id_acc);
				declare @id_post_tmp int
				set @id_post_tmp = (SELECT id_post AS LastID FROM post WHERE id_post = @@Identity)
				INSERT INTO post_manage VALUES(@id_post_tmp, @id_room);
				select @id_post_tmp  ;
			END
		ELSE
			RAISERROR(N'Không phải thành viên trong nhóm không thể đăng bài!',16,1);
 END



GO
/****** Object:  StoredProcedure [dbo].[p_addQuizPostIntoGroup]    Script Date: 22/06/2017 5:43:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p_addQuizPostIntoGroup] @id_room int, @id_acc int, @question_content ntext, @answer_content1 ntext, @answer_content2 ntext, @answer_content3 ntext, @answer_content4 ntext, @correct_question int
AS
BEGIN
  SET NOCOUNT ON
  --Insert question to get id_connect by id_question
  DECLARE @id_connect int
  DECLARE @id_post int
  INSERT INTO dbo.question
    VALUES (@question_content, NULL, NULL)
  SET @id_connect = (SELECT
    id_question
  FROM dbo.question
  WHERE id_question = IDENT_CURRENT('QUESTION'))
  -- Insert post, which is quiz post, with id_Connect 
  INSERT INTO dbo.post
    VALUES (@question_content, GETDATE(), @id_connect, 1, @id_Acc)
  SET @id_post = (SELECT
    id_post
  FROM dbo.post
  WHERE id_post = IDENT_CURRENT('POST'))
  INSERT INTO dbo.post_manage
    VALUES (@id_post, @id_room)
  -- Insert quiz answer with id_connect, which is id_question
  INSERT INTO dbo.correct_answer
    VALUES (@id_connect, 1, @answer_content1, 0)
  INSERT INTO dbo.correct_answer
    VALUES (@id_connect, 2, @answer_content2, 0)
  INSERT INTO dbo.correct_answer
    VALUES (@id_connect, 3, @answer_content3, 0)
  INSERT INTO dbo.correct_answer
    VALUES (@id_connect, 4, @answer_content4, 0)
  -- Set question correct for question post
  UPDATE dbo.correct_answer
  SET correct_answer = 1
  WHERE id_question = @id_connect
  AND id_answer = @correct_question

  SELECT
    id_post AS LastID
  FROM Post
  WHERE id_post = IDENT_CURRENT('POST')
END

GO
/****** Object:  StoredProcedure [dbo].[p_addRoom_room]    Script Date: 22/06/2017 5:43:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[p_addRoom_room] @room_name NVARCHAR(50), @room_descr NVARCHAR(100)=N'', @id_acc int
 AS
 SET NOCOUNT ON
 BEGIN
		INSERT INTO room (room_name,room_descr,id_acc) VALUES(@room_name,@room_descr,@id_acc)
		SELECT id_room AS LastID FROM room WHERE id_room = IDENT_CURRENT('room');
 END



GO
/****** Object:  StoredProcedure [dbo].[p_checkLogIn_account]    Script Date: 22/06/2017 5:43:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[p_checkLogIn_account](@email varchar(50),@password varchar(50))
AS
BEGIN
DECLARE @mes nvarchar(100)
IF EXISTS (SELECT * FROM account WHERE account.email=@email)
	BEGIN 
		IF EXISTS(SELECT * FROM account WHERE account.email=@email AND account.state=1)
			BEGIN
				IF EXISTS(SELECT * FROM account WHERE account.email=@email AND account.password=@password)
					BEGIN
						SET @mes=(SELECT account.id_acc FROM account WHERE account.email=@email AND account.password=@password)
					END
				ELSE
				SET @mes=N'Mật khẩu không đúng';
			END
			ELSE
			SET @mes=N'Tài khoản chưa kích hoạt';
	END
	ELSE
		SET @mes=N'Tài khoản không tồn tại'
		SELECT @mes
END







GO
/****** Object:  StoredProcedure [dbo].[p_chooseAnswerInPost]    Script Date: 22/06/2017 5:43:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[p_chooseAnswerInPost] @id_room int, @id_post int, @id_acc int, @id_answer int
AS
BEGIN
set nocount  on
  DECLARE @res int = 0,
          @id_test int,
          @id_question int;
  SET @id_test = (SELECT
    id_test
  FROM room
  WHERE id_room = @id_room)
  SET @id_question = (SELECT
    id_connect
  FROM post
  WHERE id_post = @id_post)
  IF EXISTS ( SELECT  * FROM TASK WHERE id_test=@id_test AND id_acc=@id_acc  AND id_question=@id_question)
		 UPDATE task SET id_answer=@id_answer WHERE id_test=@id_test AND id_acc=@id_acc  AND id_question=@id_question;
  ELSE
	 INSERT INTO task (id_test, id_acc, id_question, id_answer, note)
    VALUES (@id_test, @id_acc, @id_question, @id_answer, '')
END

GO
/****** Object:  StoredProcedure [dbo].[p_delete_room]    Script Date: 22/06/2017 5:43:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[p_delete_room] @id_room int
AS
BEGIN
DECLARE @message NVARCHAR(100)
SET NOCOUNT ON

BEGIN
TRY
DELETE room_manage where id_room =@id_room
DELETE post_manage WHERE id_room=@id_room
DELETE room where id_room = @id_room
  
IF(@@ROWCOUNT>0)
BEGIN
SET @message = N'Thành công'
END

	ELSE
	
	BEGIN 
	SET @message = N'Thất bại'
	END 

SELECT @message AS result
END TRY

BEGIN CATCH
RAISERROR(N'Xóa phòng thất bại',16,1)
END CATCH	

END


GO
/****** Object:  StoredProcedure [dbo].[p_deleteComment_Comment]    Script Date: 22/06/2017 5:43:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- xóa comment trong bài viết qua quyền của account id
create procedure [dbo].[p_deleteComment_Comment] @id_comment int, @id_acc int
as
begin
	if exists( select * from comment  where id_acc=@id_acc and id_comment=@id_comment)
	or exists(select *  from room where id_acc=@id_acc and id_room=(select id_room  from post_manage where id_post=(select  id_post  from comment where id_comment=@id_comment)))
	begin
		delete from comment where id_comment=@id_comment
	end
	else
		raiserror(N'Bạn không phải người bình luận hoặc quản trị viên!',16,1);

end

execute p_deleteComment_Comment @id_comment=207,@id_acc=5





GO
/****** Object:  StoredProcedure [dbo].[p_deletePost_post]    Script Date: 22/06/2017 5:43:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create procedure [dbo].[p_deletePost_post] @id_post int, @id_acc int
 as
  begin
  if exists(select *  from room where id_acc=@id_acc and id_room =(select id_room from post_manage where id_post=@id_post)) or
  exists(select * from post where id_acc=@id_acc  and id_post=@id_post)
  begin
	delete from comment where id_post=@id_post;
	delete from post_manage where id_post=@id_post  and id_room=(select id_room  from post_manage where id_post=@id_post);
	delete from post where id_post=@id_post;
	delete from liked select id_post,id_acc from liked where id_post=@id_post;
  end
	else 
	raiserror (N'Bạn không có quyền xóa bài đăng này!',16,1);  
end


GO
/****** Object:  StoredProcedure [dbo].[p_friend_except]    Script Date: 22/06/2017 5:43:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[p_friend_except] @id_acc_add int , @id_acc_friend int
as
begin
	 update dbo.relationship set waiting=0 where id_acc_add=@id_acc_add and id_acc_friend=@id_acc_friend
	 insert into relationship(id_acc_add,id_acc_friend,waiting)  values(@id_acc_friend,@id_acc_add,0);
 end



GO
/****** Object:  StoredProcedure [dbo].[p_leaveRoom_room_manage]    Script Date: 22/06/2017 5:43:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[p_leaveRoom_room_manage] @idRoom int,@idAcc int
AS

	DELETE room_manage WHERE id_room=@idRoom AND id_acc=@idAcc


GO
/****** Object:  StoredProcedure [dbo].[p_likeOrUnlikePost]    Script Date: 22/06/2017 5:43:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create procedure [dbo].[p_likeOrUnlikePost] (@id_post int, @id_acc int)
 as
 begin
	if exists ( select *from room_manage where id_acc=@id_acc and id_room=(select id_room from post_manage where							id_post=@id_post) and state=1)/* kiểm tra thành viên nhóm*/
		begin
			if exists (  select * from liked  where id_acc=@id_acc and id_post=@id_post)
				begin
					delete from liked where id_acc=@id_acc and id_post=@id_post
				end
			else
				begin
					insert into liked values(@id_post,@id_acc);
				end
		end
	else
		raiserror(N'Bạn không phải thành viên nhóm!',16,1);
	
 end


GO
/****** Object:  StoredProcedure [dbo].[P_nguoiChonTracNghiem]    Script Date: 22/06/2017 5:43:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[P_nguoiChonTracNghiem] @id_post int

  AS BEGIN DECLARE @id_room int, @id_test int, @id_question int
SET @id_room =
  (SELECT top 1 id_room
   FROM post_manage
   WHERE id_post=@id_post )
SET @id_test=
  (SELECT id_test
   FROM room
   WHERE id_room=@id_room);
SET @id_question =
  (SELECT id_connect
   FROM post
   WHERE id_post=@id_post);
select * from task where id_test=@id_test and id_question=@id_question
end

GO
/****** Object:  StoredProcedure [dbo].[p_participationRoom_room_manage]    Script Date: 22/06/2017 5:43:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[p_participationRoom_room_manage] @id_room int, @id_acc int
 AS
 BEGIN
		INSERT INTO room_manage		VALUES(@id_room,@id_acc,0)
 END



GO
/****** Object:  StoredProcedure [dbo].[p_signUp_account]    Script Date: 22/06/2017 5:43:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[p_signUp_account] (@email varchar(50),@password varchar(50))
AS
BEGIN
SET NOCOUNT ON
DECLARE @idAccount int
INSERT INTO account(account.email,account.password) values (@email, @password)
SET @idAccount=(SELECT account.id_acc FROM account WHERE account.email=@email)
SELECT @idAccount
END







GO
/****** Object:  StoredProcedure [dbo].[p_thongke_tracnghiem]    Script Date: 22/06/2017 5:43:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[p_thongke_tracnghiem] @id_post int
 AS BEGIN DECLARE @id_room int, @id_test int, @id_question int
SET @id_room =
  (SELECT top 1 id_room
   FROM post_manage
   WHERE id_post=@id_post )
SET @id_test=
  (SELECT id_test
   FROM room
   WHERE id_room=@id_room);
SET @id_question =
  (SELECT id_connect
   FROM post
   WHERE id_post=@id_post);
SELECT id_test,
       id_question,
       id_answer,
       sum(CASE id_answer
               WHEN 1 THEN 1
               WHEN 2 THEN 1
               WHEN 3 THEN 1
               ELSE 1
           END)AS slchon
FROM task
WHERE id_test=@id_test
  AND id_question=@id_question
GROUP BY id_test,
         id_question,
         id_answer
ORDER BY id_answer END


GO
/****** Object:  StoredProcedure [dbo].[themnoidung]    Script Date: 22/06/2017 5:43:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[themnoidung]
 @code nvarchar(max) ,
 @room_id  nvarchar(max) ,
 @body ntext , 
 @url  nvarchar(255) 
 AS
 DECLARE @chat_id int  , @client nvarchar(255) , @date datetime = getdate() 
 IF NOT EXISTS (SELECT * FROM  chat c where c.code = @code  AND c.room_id = @room_id OR c.code = @room_id AND c.room_id = @code )
   BEGIN 
   begin tran 
     INSERT INTO chat(code , room_id , COUNT_MSG , LAST_USER) values (@code , @room_id , 1 ,@room_id ) 
	   set @chat_id  =  SCOPE_IDENTITY()  
	    commit tran
		end
    ELSE  
	BEGIN 
	DECLARE @count  int = (select c.COUNT_MSG from chat c where  c.code = @code  AND c.room_id = @room_id OR c.code = @room_id AND c.room_id = @code)
	UPDATE chat set COUNT_MSG = @count + 1  ,  LAST_USER = @room_id where  code = @code  AND room_id = @room_id OR code = @room_id AND room_id = @code
	set @chat_id  = ( SELECT c.chat_id FROM  chat c where c.code = @code  AND c.room_id = @room_id OR c.code = @room_id AND c.room_id = @code) 
	END 
	BEGIN 
	INSERT chatdetails values (@body , @date , @chat_id  ,  @url , @room_id)   
	end







GO
/****** Object:  Trigger [dbo].[t_insertAdminIntoRoomManage]    Script Date: 22/06/2017 5:43:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE TRIGGER  [dbo].[t_insertAdminIntoRoomManage] ON [dbo].[room] AFTER INSERT
 AS
 BEGIN
  declare @id_room  int, @id_acc int,@id_test int
set @id_room = (select id_room  from inserted)
set @id_acc = (select id_acc  from inserted)
 /*insert admin into lisst member*/
	 INSERT INTO room_manage(id_room, id_acc, state)   values (@id_room,@id_acc,1)
	 /*insert test default for room*/
	 INSERT INTO TEST(title,date_start,date_end) VALUES(concat(concat(@id_room,'-POST-'),@id_acc), null, null);
		set @id_test=( SELECT id_test AS LastID FROM TEST WHERE id_test = IDENT_CURRENT('TEST'));
	 INSERT INTO test_default_room(id_test,id_room) VALUES (@id_test,@id_room);
	update room set id_test=@id_test where id_room = @id_room;
 END



GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'mã phòng học' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'room', @level2type=N'COLUMN',@level2name=N'id_room'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'tên phòng học' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'room', @level2type=N'COLUMN',@level2name=N'room_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'mô tả' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'room', @level2type=N'COLUMN',@level2name=N'room_descr'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'quản lý phòng học' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'room_manage'
GO
USE [master]
GO
