@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Coiny');

$navbar-font-color: #FFFFFF;
$navbar-font-hover: #fffa84;
$navbar-brand-color: #1d9d74;
$navbar-brand-hover: #009152;
$text-color: #f2efef;
$text-shadow: 2px 2px 4px #000000;
body {
	background: $navbar-brand-color;
}

.navbar {
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	background: none;
	border: none;

	.navbar-brand {
		font-size: 50px;
		color: $navbar-font-color;
		&:hover {
			color: $navbar-font-color;
		}
	}
}
.navbar-default {
	.navbar-nav{
		li { 
			a {
				color: $navbar-font-color;
				&:hover {
					color: $navbar-font-hover;
				}
			}
		}
	}
}

.intro-1 {
	background-image: url("/images/intro-1.jpg");
	height: 900px;
	width: 100%;
	padding-top: 100px;
	font-family: 'Coiny', cursive;

	.w-sir {
		h2 {
			font-size: 40px;
			color: $text-color;
			text-shadow: $text-shadow;
		}
	}

	.w-sir2 {
		li {
			font-size: 20px;
			color: $text-color;
			text-shadow: $text-shadow;
		}
	}

	.element1 {
	  height: auto;
	  width: 100%;
	  display: flex;
	  text-align: center;
	  justify-content: center;
	  align-content: center;
	  color: white;
	  padding: 5px;
	  animation: shimmy 3s infinite;
	  animation-direction: alternate;
	}

	@keyframes shimmy {
	  0% {
	    transform: translate(0, 0);    
	  }
	  100% {
	    transform: translate(20px, 50px);
	  }
	}

	.element2 {
	  height: auto;
	  width: 100%;
	  display: flex;
	  text-align: center;
	  justify-content: center;
	  align-content: center;
	  color: white;
	  padding: 5px;
	  animation: shimmy 5s infinite;
	  animation-direction: alternate;
	}

	@keyframes shimmy {
	  0% {
	    transform: translate(0, 0);    
	  }
	  100% {
	    transform: translate(20px, 50px);
	  }
	}

	.element3 {
		  display: inline-block;
		  height: 100px;
		  width: 100px;
		  transform: skew(50deg);
		  font-size: 1px;
		  padding: 1px;
		  color: white;
		  margin-right: 5px;
		  margin-left: 5px;
		  animation: shake 30s infinite;
		  animation-direction: alternate;
		}

		@keyframes shake {
		  0% {
		    transform: skewY(20deg);
		  }
		  100% {
		    transform: skewY(-20deg);
		  }
	}

}

.intro-2 {
	background-image: url("/images/intro-2.jpg");
	height: 769px;
	width: 100%;
	font-family: 'Coiny', cursive;
	padding-top: 100px;

	.w-sir {
		h2 {
			font-size: 40px;
			color: $text-color;
			text-shadow: $text-shadow;
		}
	}
	.thumbnail {
		box-shadow: 2px 2px 10px #000008;
		&:hover {
			background: red;
			box-shadow: 2px 2px 10px #FFFFFF;
		}
	}

	.element1 {
	  height: auto;
	  width: 100%;
	  display: flex;
	  text-align: center;
	  justify-content: center;
	  align-content: center;
	  color: white;
	  padding: 5px;
	  animation: shimmy 3s infinite;
	  animation-direction: alternate;
	}

	@keyframes shimmy {
	  0% {
	    transform: translate(0, 0);    
	  }
	  100% {
	    transform: translate(20px, 50px);
	  }
	}

	.element2 {
	  height: auto;
	  width: 100%;
	  display: flex;
	  text-align: center;
	  justify-content: center;
	  align-content: center;
	  color: white;
	  padding: 5px;
	  animation: shimmy 5s infinite;
	  animation-direction: alternate;
	}

	@keyframes shimmy {
	  0% {
	    transform: translate(0, 0);    
	  }
	  100% {
	    transform: translate(20px, 50px);
	  }
	}

	.element3 {
		  display: inline-block;
		  height: 100px;
		  width: 100px;
		  transform: skew(50deg);
		  font-size: 1px;
		  padding: 1px;
		  color: white;
		  margin-right: 5px;
		  margin-left: 5px;
		  animation: shake 30s infinite;
		  animation-direction: alternate;
		}

		@keyframes shake {
		  0% {
		    transform: skewY(20deg);
		  }
		  100% {
		    transform: skewY(-20deg);
		  }
	}

}

.intro-3 {
	background-image: url("/images/intro-4.jpg");
	height: 900px;
	width: 100%;
	font-family: 'Coiny', cursive;
	padding-top: 280px;

	.w-sir {
		h2 {
			-ms-transform: rotate(7deg); 
			-webkit-transform: rotate(7deg); 
			transform: rotate(-10deg);
			font-size: 40px;
			color: $text-color;
			text-shadow: $text-shadow;
		}
	}

	.element {
	  height: auto;
	  width: 100%;
	  display: flex;
	  text-align: center;
	  justify-content: center;
	  align-content: center;
	  color: white;
	  padding: 5px;
	  animation: shimmy 3s infinite;
	  animation-direction: alternate;
	}

	@keyframes shimmy {
	  0% {
	    transform: translate(0, 0);    
	  }
	  100% {
	    transform: translate(20px, 50px);
	  }
	}
}

.intro-4 {
	background-image: url("/images/intro-3.jpg");
	height: 769px;
	width: 100%;
	font-family: 'Coiny', cursive;
	padding-top: 100px;

	.w-sir {
		h2 {
			font-size: 40px;
			color: $text-color;
			text-shadow: $text-shadow;
		}
	}

	.element {
	  height: auto;
	  width: 100%;
	  display: flex;
	  text-align: center;
	  justify-content: center;
	  align-content: center;
	  color: white;
	  padding: 5px;
	  animation: shimmy 5s infinite;
	  animation-direction: alternate;
	}

	@keyframes shimmy {
	  0% {
	    transform: translate(0, 0);    
	  }
	  100% {
	    transform: translate(20px, 50px);
	  }
	}

	.element2 {
	  height: auto;
	  width: 100%;
	  display: flex;
	  text-align: center;
	  justify-content: center;
	  align-content: center;
	  color: white;
	  padding: 5px;
	  animation: shimmy 7s infinite;
	  animation-direction: alternate;
	}

	@keyframes shimmy {
	  0% {
	    transform: translate(0, 0);    
	  }
	  100% {
	    transform: translate(20px, 50px);
	  }
	}

	.element3 {
	  height: auto;
	  width: 100%;
	  display: flex;
	  text-align: center;
	  justify-content: center;
	  align-content: center;
	  color: white;
	  padding: 5px;
	  animation: shimmy 8s infinite;
	  animation-direction: alternate;
	}

	@keyframes shimmy {
	  0% {
	    transform: translate(0, 0);    
	  }
	  100% {
	    transform: translate(20px, 50px);
	  }
	}
}
