@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Coiny");
body {
  background: #1d9d74; }

.navbar {
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  background: none;
  border: none; }
  .navbar .navbar-brand {
    font-size: 50px;
    color: #FFFFFF; }
    .navbar .navbar-brand:hover {
      color: #FFFFFF; }

.navbar-default .navbar-nav li a {
  color: #FFFFFF; }
  .navbar-default .navbar-nav li a:hover {
    color: #fffa84; }

.intro-1 {
  background-image: url("/images/intro-1.jpg");
  height: 900px;
  width: 100%;
  padding-top: 100px;
  font-family: 'Coiny', cursive; }
  .intro-1 .w-sir h2 {
    font-size: 40px;
    color: #f2efef;
    text-shadow: 2px 2px 4px #000000; }
  .intro-1 .w-sir2 li {
    font-size: 20px;
    color: #f2efef;
    text-shadow: 2px 2px 4px #000000; }
  .intro-1 .element1 {
    height: auto;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    color: white;
    padding: 5px;
    animation: shimmy 3s infinite;
    animation-direction: alternate; }
@keyframes shimmy {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(20px, 50px); } }
  .intro-1 .element2 {
    height: auto;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    color: white;
    padding: 5px;
    animation: shimmy 5s infinite;
    animation-direction: alternate; }
@keyframes shimmy {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(20px, 50px); } }
  .intro-1 .element3 {
    display: inline-block;
    height: 100px;
    width: 100px;
    transform: skew(50deg);
    font-size: 1px;
    padding: 1px;
    color: white;
    margin-right: 5px;
    margin-left: 5px;
    animation: shake 30s infinite;
    animation-direction: alternate; }
@keyframes shake {
  0% {
    transform: skewY(20deg); }
  100% {
    transform: skewY(-20deg); } }
.intro-2 {
  background-image: url("/images/intro-2.jpg");
  height: 769px;
  width: 100%;
  font-family: 'Coiny', cursive;
  padding-top: 100px; }
  .intro-2 .w-sir h2 {
    font-size: 40px;
    color: #f2efef;
    text-shadow: 2px 2px 4px #000000; }
  .intro-2 .thumbnail {
    box-shadow: 2px 2px 10px #000008; }
    .intro-2 .thumbnail:hover {
      background: red;
      box-shadow: 2px 2px 10px #FFFFFF; }
  .intro-2 .element1 {
    height: auto;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    color: white;
    padding: 5px;
    animation: shimmy 3s infinite;
    animation-direction: alternate; }
@keyframes shimmy {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(20px, 50px); } }
  .intro-2 .element2 {
    height: auto;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    color: white;
    padding: 5px;
    animation: shimmy 5s infinite;
    animation-direction: alternate; }
@keyframes shimmy {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(20px, 50px); } }
  .intro-2 .element3 {
    display: inline-block;
    height: 100px;
    width: 100px;
    transform: skew(50deg);
    font-size: 1px;
    padding: 1px;
    color: white;
    margin-right: 5px;
    margin-left: 5px;
    animation: shake 30s infinite;
    animation-direction: alternate; }
@keyframes shake {
  0% {
    transform: skewY(20deg); }
  100% {
    transform: skewY(-20deg); } }
.intro-3 {
  background-image: url("/images/intro-4.jpg");
  height: 900px;
  width: 100%;
  font-family: 'Coiny', cursive;
  padding-top: 280px; }
  .intro-3 .w-sir h2 {
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(-10deg);
    font-size: 40px;
    color: #f2efef;
    text-shadow: 2px 2px 4px #000000; }
  .intro-3 .element {
    height: auto;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    color: white;
    padding: 5px;
    animation: shimmy 3s infinite;
    animation-direction: alternate; }
@keyframes shimmy {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(20px, 50px); } }
.intro-4 {
  background-image: url("/images/intro-3.jpg");
  height: 769px;
  width: 100%;
  font-family: 'Coiny', cursive;
  padding-top: 100px; }
  .intro-4 .w-sir h2 {
    font-size: 40px;
    color: #f2efef;
    text-shadow: 2px 2px 4px #000000; }
  .intro-4 .element {
    height: auto;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    color: white;
    padding: 5px;
    animation: shimmy 5s infinite;
    animation-direction: alternate; }
@keyframes shimmy {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(20px, 50px); } }
  .intro-4 .element2 {
    height: auto;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    color: white;
    padding: 5px;
    animation: shimmy 7s infinite;
    animation-direction: alternate; }
@keyframes shimmy {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(20px, 50px); } }
  .intro-4 .element3 {
    height: auto;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    color: white;
    padding: 5px;
    animation: shimmy 8s infinite;
    animation-direction: alternate; }
@keyframes shimmy {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(20px, 50px); } }

/*# sourceMappingURL=introduce.css.map */
