<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>


<div class="divcontent">
	<div class="status row">
		<div class="col-md-1">
			<img alt="Ảnh đại diện" class="img-responsive"
				src="/images/15284079_583315985195410_4289784661158093094_n.jpg"
				width="150%">
		</div>
		<div class="col-md-10">
			<div class="people-stt">
				<a href="#"><strong>Trần Văn Thắng </strong></a> đã đăng trong <a
					href="#"><strong>Phòng 1 </strong></a> <br> <span
					style="color: #B2B2B2">1 phút trước</span>
			</div>
		</div>
	</div>
	<div class="content-stt">Xin chào</div>
	<hr />
	<div class="radio">
		<label> <input id="r1" name="optionsRadios" type="radio"
			value="option1"> Đáp án 1
		</label>
	</div>
	<div class="radio">
		<label> <input id="r2" name="optionsRadios" type="radio"
			value="option1"> Đáp án 2
		</label>
	</div>
	<div class="radio">
		<label> <input id="r3" name="optionsRadios" type="radio"
			value="option1"> Đáp án 3
		</label>
	</div>
	<div class="radio">
		<label> <input id="r4" name="optionsRadios" type="radio"
			value="option1"> Đáp án 4
		</label>
	</div>
	<hr />
	<div style="color: #B2B2B2; text-align: left">
		<a class="link-act" href="#" id="like"><i
			class="fa fa-thumbs-o-up"></i><span id="lbl-like"> Thích</span></a>
		&nbsp;&nbsp; <a class="link-act" href="#"><i class="fa fa-comment"></i><span>
				Bình luận</span></a>
	</div>
	<hr>
	<div class="comment">
		<div class="cmt-input row">
			<div class="col-md-1">
				<img alt="Ảnh đại diện" class="img-responsive"
					src="/images/15284079_583315985195410_4289784661158093094_n.jpg"
					width="100%">
			</div>
			<div class="col-md-11">
				<input class="form-control" placeholder="Nhập bình luận" type="text">
			</div>
		</div>
		<!--   								bình luận thứ 1-->
		<br>
		<div id="list_comment"></div>
	</div>
</div>