<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<!-- start post -->


	<div class="divcontent" th:id="divcontent+${post.idPost}">
		<div class="status row">
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 media">
				<img class="media-photo img-responsive avt"
					th:src="@{${session.account.avatar}!=null?@{${session.account.avatar}}:@{/upload/avatar/default_avatar.jpg}}"
					alt="Ảnh đại diện" />
			</div>
			<div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 cnt">
				<div class="people-stt">
					<!--start  x post -->
					<form onsubmit="return deletePost(this)">
						<input type="hidden" id="idpost-close" th:value="${post.idPost}" />
						<button class="close" type="submit">
							<span aria-hidden="true" data-toggle="tooltip"
								data-placement="bottom" title="Xóa bài viết">&times;</span>
						</button>
					</form>
					<!-- end x post  -->
					<a href="javascript:void(0)" th:id="'idAcc_'+${post.idAcc.idAcc}"
						class="memberprofile"><strong th:text="${post.idAcc.name}">
					</strong></a> <br /> <span class="time-post"
						style="color: #B2B2B2; cursor: pointer;" data-toggle="tooltip"
						data-placement="bottom" title="Thời gian đăng"
						th:text="${#dates.format(post.postDate, 'dd-MM-yyyy hh:mm:ss')}">
					</span>

				</div>
			</div>
		</div>
		<div class="content-stt" th:utext="${post.postContent}"></div>
		<hr />
		<div style="color: #B2B2B2; text-align: left">
			<a class="link-act" href="javascript:void(0);"
				th:id="like+${post.idPost}" onclick="likeThisPost(this)"><i
				class="fa fa-thumbs-o-up"></i><span id="lbl-like" th:type="'0'"
				th:text="'Thích'"> </span></a>&nbsp;<a href="javascript:void(0)"
				th:onclick="'detailAccountLikePost('+${post.idPost}+')'"
				th:text="'(0)'"></a> &nbsp;<a class="link-act"
				href="javascript:void(0);"><i class="fa fa-comment"></i><span>
					Bình luận (<span th:text="'0'"></span>)
			</span></a>
		</div>
		<!--old comment -->
		<!-- <div style="color: #B2B2B2; text-align: right">
			<i class="fa fa-comments-o"> <strong>Bình luận (<span
					th:text="0"></span>)
			</strong></i>
		</div> -->
		<!--/old comment -->
		<hr />
		<div class="comment">
			<div class="cmt-input row">
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 media">
					<img class="media-photo img-responsive avt"
						th:src="${session.account.avatar}!=null?@{${session.account.avatar}}:@{/upload/avatar/default_avatar.jpg}"
						alt="Ảnh đại diện" data-toggle="tooltip" data-placement="bottom"
						title="Người đăng" />
				</div>
				<div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 cnt">
					<input type="text" class="form-control"
						th:id="comment_post+${post.idPost}"
						placeholder="Nhập bình luận ..."
						onkeydown="if(event.keyCode==13) addComment(this.id)" />
				</div>
			</div>
			<!--   								bình luận thứ 1-->
			<br />
			<div th:id="list_comment+${post.idPost}"></div>
		</div>
	</div>
	<!-- end post -->


</body>
</html>