<div class='divcontent'>
	<div class='status row'>
		<div class='col-lg-1 col-md-1 col-sm-1 col-xs-2 media'>
			<img alt='Ảnh đại diện' class='media-photo img-responsive avt'
				src='../images/15284079_583315985195410_4289784661158093094_n.jpg'>
		</div>
		<div class='col-lg-11 col-md-11 col-sm-11 col-xs-10 cnt'>
			<div class='people-stt'>
				<a href='#'><strong></strong></a> <br> <span
					style='color: #B2B2B2'>02-thg 5-2017 12:00</span>
			</div>
		</div>
	</div>
	<div class='content-stt'>ádasd</div>
	<hr>
	<div style='color: #B2B2B2; text-align: right'> <i
		class='fa fa-comments-o'> <strong>Bình luận (<span>0</span>)
	</strong></i>
</div>
<hr>
<div class='comment' id='comment14'>
	<div class='cmt-input row'>
		<div class='col-lg-1 col-md-1 col-sm-1 col-xs-2 media'>
			<img alt='Ảnh đại diện' class='media-photo img-responsive avt'
				src='../images/15284079_583315985195410_4289784661158093094_n.jpg'>
		</div>
		<div class='col-lg-11 col-md-11 col-sm-11 col-xs-10 cnt'>
			<input class='form-control'
				onkeydown='if(event.keyCode==13) addComment(this.id)'
				placeholder='Nhập bình luận' type='text' id='comnent_post14'>
		</div>
	</div>
	<br>
</div>
</div>