<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Insert title here</title>
</head>
<body>
	<th:block>
		<!-- profile frame -->
		<div class="member-frame member-card">
			<div class="memberCard">
				<div class="avatarCropper">
					<a th:href="@{${profileMem.avatar}}" target="_blank"> <img th:alt="${profileMem.name}"
						th:src="${profileMem.avatar}">
					</a>
				</div>
				<div class="userInfo">
					<h3 class="username">
						<a th:href="@{/account/viewinfo/acc{id_acc}(id_acc=${profileMem.idAcc})}" th:text="${profileMem.name}">Trần
							Văn Thắng</a>
					</h3>
					<h4 class="title" th:text="${profileMem.job}">Sếp Thắng</h4>
					<div class="userTitle">
						<div class="info">
							Giới tính: <span th:if="${profileMem.gender}">Nam</span> <span
								th:unless="${profileMem.gender}">Nữ</span>
						</div>
						<div class="info">
							Nghề nghiệp: <span th:text="${profileMem.job}"></span>
						</div>
						<div class="info">
							Ngày sinh: <span th:text="${profileMem.birth}"></span>
						</div>
						<div class="info">
							Địa chỉ: <span th:text="${profileMem.address}"></span>
						</div>
						<div class="info">
							Email: <span th:text="${profileMem.email}"></span>
						</div>
					</div>
					<div class="rela">
						<!-- th:block rather than unneeded div -->
						<th:block th:switch="${trangThai}">
							<div th:case="0">
								<a class="makeFriend" th:id="${profileMem.idAcc}"> <span
									class="friend-text">&nbsp;Kết bạn</span>
								</a>
							</div>
							<div th:case="1">
								<a class="makeFriend" th:id="${profileMem.idAcc}"> <span class="friend-text">&nbsp;Đã gửi
										lời mời kết bạn</span>
								</a>
							</div>
							<div th:case="2">
								<a class="makeFriend" th:id="${profileMem.idAcc}" > <span class="friend-text">&nbsp;Hủy kết
										bạn</span>
								</a>
							</div>
							<div th:case="3">
								<a class="makeFriend" th:id="${profileMem.idAcc}"> <span class="friend-text">&nbsp;Chấp
										nhận yêu cầu kết bạn</span>
								</a>
							</div>
							<div th:case="4"></div>
						</th:block>

					</div>
				</div>
				<a class="closeMember">X</a>
			</div>
		</div>
		<!-- profile frame -->
		<script>
			$(function() {
				$(".closeMember").click(function() {
					$(".member-card").hide();
				});
				$(".makeFriend").click(function() {
					var id_acc = $(this).attr("id");
					$.ajax({
						url : "/account/addFriend",
						type : "POST",
						data : {
							idFriend : id_acc
						},
						success : function(response) {
								$(".friend-text").text(response);
						},
						error : function(err) {
							console.log(err);
						}
					});
				});
			});
		</script>
	</th:block>

</body>
</html>